<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import SectionThanks from '@/components/section/Thanks.vue';

@Component({
  components: {
    SectionThanks,
  },
})
export default class Thanks extends Vue { }
</script>

<template>
  <article class="page thanks">
    <section-thanks></section-thanks>
  </article>
</template>
