<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import SectionTalkAbout from '@/components/section/TalkAbout.vue';
import SectionUsefulArticles from '@/components/section/UsefulArticles.vue';
import SectionMaps from '@/components/section/Maps.vue';

import {AxiosResponse} from 'axios';
import {IResponseModel} from '@/models/response.model';

import newsServer from '@/services/news.service';
import {IUsefulArticle} from '@/models/useful-articles.model';

@Component({
  components: {
    SectionTalkAbout,
    SectionUsefulArticles,
    SectionMaps,
  },
})
export default class News extends Vue {
  article: IUsefulArticle = {
    name: '',
    url: '',
    text: '',
    img: '',
  };

  mounted() {
    newsServer.getArticleById(this.$route.params.id)
      .then(res => {
        Object.assign(this.article, res.data);
      });
  }
}
</script>

<template>
  <article class="page news article">

    <v-container>
      <v-img
        :aspect-ratio="16/9"
        :src="article.img"
        contain
        alt=""
      ></v-img>

      <div class="wr-content">
        <h1 class="title text-xs-left">
          <span v-html="article.name"></span>
        </h1>

        <div class="content" v-html="article.text"></div>
      </div>
    </v-container>

    <section-maps></section-maps>
  </article>
</template>

<style lang="scss">
.page.news.article {
  .wr-content {
    max-width: 1170px;
    margin: auto;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 32px !important;
    letter-spacing: -.5px !important;

    h1 {
      &,
      span {
        font-size: 55px !important;
        line-height: 64px !important;
        margin-bottom: 20px !important;
      }
    }

    h2 {
      &,
      span {
        font-size: 38px !important;
        line-height: 60px !important;
        margin-bottom: 7px !important;
      }
    }

    h3 {
      &,
      span {
        font-size: 23px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: -.5px;
      }
    }

    h1, h2 {
      &,
      span {
        margin-top: 0;
        font-weight: 700 !important;
      }
    }


    p, li, strong, span {
      &,
      span {
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 32px !important;
        letter-spacing: -.5px !important;
        padding-bottom: 10px;
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        position: relative;
        padding-left: 43px;
        padding-bottom: 30px;

        &:before,
        &:after {
          content: '';
          display: block;
          width: 2px;
          height: 2px;
          background-color: #000;
          position: absolute;
          top: 10px;
          left: 0;
        }

        &:before {
          border-radius: 50%;
          width: 7px;
          height: 7px;
        }

        &:after {
          left: 2px;
          bottom: 0;
          height: 100%;
        }

        &:last-of-type {
          &:after {
            content: none;
          }
        }
      }
    }

    a {
      &, span {
        color: rgb(61, 59, 255);
        font-weight: 700 !important;
        text-decoration: none;
      }
    }

    .title,
    .content {
      max-width: 770px;
      margin-left: auto;
    }
  }
}
</style>
