<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import SectionTalkAbout from '@/components/section/TalkAbout.vue';

@Component({
  components: {
    SectionTalkAbout,
  },
})
export default class Reviews extends Vue { }
</script>

<template>
  <article>
    <section-talk-about :is-review-page="true"></section-talk-about>
  </article>
</template>
