@font-face
	font:
		family: 'Gilroy'
		weight: 300
		style: normal
	src: url('Gilroy-Light.otf')
@font-face
	font:
		family: 'Gilroy'
		weight: 300
		style: italic
	src: url('Gilroy-LightItalic.otf')
@font-face
	font:
		family: 'Gilroy'
		weight: 400
		style: normal
	src: url('Gilroy-Regular.otf')
@font-face
	font:
		family: 'Gilroy'
		weight: 400
		style: italic
	src: url('Gilroy-RegularItalic.otf')
@font-face
	font:
		family: 'Gilroy'
		weight: 500
		style: normal
	src: url('Gilroy-Medium.otf')
@font-face
	font:
		family: 'Gilroy'
		weight: 500
		style: italic
	src: url('Gilroy-MediumItalic.otf')
@font-face
	font:
		family: 'Gilroy'
		weight: 700
		style: normal
	src: url('Gilroy-Bold.otf')
@font-face
	font:
		family: 'Gilroy'
		weight: 700
		style: italic
	src: url('Gilroy-BoldItalic.otf')
@font-face
	font:
		family: 'Gilroy'
		weight: 800
		style: normal
	src: url('Gilroy-Heavy.otf')
@font-face
	font:
		family: 'Gilroy'
		weight: 800
		style: italic
	src: url('Gilroy-HeavyItalic.otf')