

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import Cn3bieVueTextInput from '@/components/cn3bie/form/Cn3bieVueTextInput.vue';
import Cn3bieAgreement from '@/components/cn3bie/Cn3bieAgreement.vue';

import settingsServer from '@/services/common.service';
import Settings from '@/assets/data/settings';
import {IResponseError} from '@/models';
import {AxiosResponse} from 'axios';

@Component({
  components: {
    Cn3bieVueTextInput,
    Cn3bieAgreement,
  },
})
export default class FormMore extends Vue {
  valid = true;
  phone = '';
  email = '';
  error: IResponseError = {};

  submit() {
    if (this.valid) {
      settingsServer.mail({
        events: 'catalog-free-catalog',
        phone: this.phone,
        email: this.email,
      }).then((res: AxiosResponse<string>) => {
        // console.log()
      }).catch((error: IResponseError) => {
        Object.assign(this.error, error);
      });
    }
  }
}
</script>

<template>
  <section class="section more wr-form">
    <v-container>
      <div class="wr-title">
        <h2 class="title">Желаете изучить больше проектов?</h2>

        <div class="section-desc">В нашем каталоге 150+ проектов домов. <br />Мы собрали самые интересные проекты, <br />чтобы вы сэкономили время на поиски</div>
      </div>

      <v-layout>
        <v-spacer class="wr-bg">
          <div class="bg"></div>
          <v-layout class="badge" column justify-center align-center>
            <img class="icon cloud" src="@/assets/icon/cloud.svg" alt="" />

            <div class="text">Скачайте полный каталог</div>
          </v-layout>
        </v-spacer>

        <v-flex class="form-right">
          <v-form ref="form" v-model="valid" lazy-validation>
            <h3 class="title text-xs-left">Скачайте каталог лучших проектов домов</h3>

            <div class="section-desc">После отправки данных, <br />каталог проектов будет выслан <br />на ваш e-mail</div>

            <cn3bie-vue-text-input
              label="Телефон"
              v-model="phone"
              height="40"
              is-phone="true"
              placeholder="+7 (___) __-__-__"
            ></cn3bie-vue-text-input>

            <cn3bie-vue-text-input
              label="E-mail"
              v-model="email"
              height="40"
              placeholder="ivanov@mail.ru"
            ></cn3bie-vue-text-input>

            <v-btn
              class="form__submit"
              color="primary"
              large
              block
              :disabled="!valid"
              @click="submit"
            >Скачать каталог</v-btn>

            <cn3bie-agreement></cn3bie-agreement>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<style lang="scss" scoped>
.section.more.wr-form {
  min-height: 100vh;
  padding-top: 90px;
  margin-bottom: 100px;

  .container {
    .title,
    .section-desc {
      text-align: left;
    }

    .wr-title {
      margin-left: 100px;
      max-width: 420px;

      .title {
        padding-bottom: 30px;
      }
    }

    .wr-bg {
      position: relative;

      .bg {
        position: absolute;
        z-index: 0;
        top: -33px;
        right: 53px;
        width: 130%;
        padding-bottom: 100%;
        background: url('../../assets/bg/square_magazine_mockup.png') right top no-repeat;
        background-size: contain;
      }

      .badge {
        position: absolute;
        top: 0;
        right: 20%;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: #ff2d59;

        .icon.cloud {
          max-width: 34px;
        }

        .text {
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          font-weight: 300;
          font-size: 13px;
          line-height: 17px;
          margin-top: 5px;
          max-width: 100px;
        }
      }
    }

    .layout {
      .form-right {
        max-width: 310px;
        flex-basis: 310px;

        .form__submit {
          height: 60px;
        }

        .v-text-field {
          font-size: 34px;
          line-height: 40px;

          input {
            max-height: 40px;
          }
        }
      }
    }
  }
}
</style>
