

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import Cn3bieVueTextInput from '@/components/cn3bie/form/Cn3bieVueTextInput.vue';
import Cn3bieAgreement from '@/components/cn3bie/Cn3bieAgreement.vue';

import settingsServer from '@/services/common.service';
import Settings from '@/assets/data/settings';
import {IResponseError} from '@/models';
import {AxiosResponse} from 'axios';

@Component({
  components: {
    Cn3bieVueTextInput,
    Cn3bieAgreement,
  },
})
export default class FormSuitableProject extends Vue {
  valid = true;
  phone = '';
  error: IResponseError = {};

  submit() {
    if (this.valid) {
      settingsServer.mail({
        events: 'suitable-project',
        phone: this.phone,
      }).then((res: AxiosResponse<string>) => {
        // console.log()
      }).catch((error: IResponseError) => {
        Object.assign(this.error, error);
      });
    }
  }
}
</script>

<template>
  <section class="section wr-form suitable-project">
    <v-container>
      <v-layout justify-space-between fill-height>
        <v-flex class="images-emploee">
          <div class="wr-name">
            <div class="name">С уважением, <br />главный архитектор <br /><span>Павел</span></div>
          </div>
        </v-flex>

        <v-flex class="form-right wr-title">
          <h2 class="title">Не нашли <span class="medium">подходящий проект</span>?</h2>

          <div class="section-desc">Давайте разработаем индивидуальный, <br />который будет отвечать всем вашим <br />пожеланиям</div>
          <div class="section-desc text--gray">Оставьте свой номер телефона, <br />чтобы мы могли перезвонить вам</div>

          <v-form ref="form" v-model="valid" lazy-validation>
            <cn3bie-vue-text-input
              label="Телефон"
              v-model="phone"
              height="50"
              is-phone="true"
              placeholder="+7 (___) __-__-__"
            ></cn3bie-vue-text-input>

            <div class="wr-form__submit">
              <v-btn
                class="form__submit"
                color="primary"
                large
                block
                :disabled="!valid"
                @click="submit"
              >Перезвоните мне</v-btn>

              <cn3bie-agreement></cn3bie-agreement>
            </div>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<style lang="scss" scoped>
.section.suitable-project.wr-form {
  padding-top: 30px;
  background-color: #fff;

  .medium {
    font-weight: 500;
  }

  .container {
    padding-bottom: 0;
    height: 760px;
    max-width: 1080px !important;

    .images-emploee {
      position: relative;
      max-width: 510px;
      background: transparent url('../../assets/emploee/D03I8647.png') center bottom no-repeat;
      background-size: 113%;

      .wr-name {
        position: absolute;
        padding: 20px 40px;
        background-color: #f3f3f3;
        right: 0;
        bottom: 30px;
        height: 110px;
        width: 220px;

        .name {
          font-size: 14px;
          line-height: 25px;

          span {
            font-weight: 700;
          }
        }
      }
    }
    .title,
    .section-desc {
      text-align: left;
    }

    .text--gray {
      margin-top: 30px;
      color: #bbb;
    }

    .title {
      padding-bottom: 30px;
    }

    .layout {
      .form-right {
        max-width: 510px;
        flex-basis: 510px;

        .v-text-field {
          font-size: 44px;
          line-height: 50px;
          margin-top: 40px;

          input {
            max-height: 50px;
          }
        }

        .wr-form__submit {
          margin-top: 70px;
          max-width: 240px;

          .form__submit {
            height: 60px;
          }
        }
      }
    }
  }
}
</style>
