
$ic-w: 20px;
$ic-h: $ic-w;
$path-img: '../img/';
$path-icon: '#{$path-img}icon/';
$path-design: '#{$path-img}design/';
$path-materials: '#{$path-img}materials/';

$c-primary: #000;
$c-white: #fff;
$c-gray: #fff;
/*
.ic,
.ic-t,
.bl-img {
  &.pdf {
    background-image: url("#{$path-icon}pdf.png");
  }
  &.price_fixed {
    background-image: url("#{$path-icon}price_fixed.svg");
  }
  &.own {
    background-image: url("#{$path-icon}own.svg");
  }
  &.interior {
    background-image: url("#{$path-icon}interior.svg");
  }
  &.plan {
    background-image: url("#{$path-icon}plan.svg");
  }
  &.marker {
    background-image: url("#{$path-icon}marker.svg");
  }
  &.printer {
    background-image: url("#{$path-icon}printer.svg");
  }
  &.delivery {
    background-image: url("#{$path-icon}delivery.svg");
  }
  &.diagram {
    background-image: url("#{$path-icon}diagram.svg");
  }
  &.key-arm {
    background-image: url("#{$path-icon}key_arm.svg");
  }
  &.shield {
    background-image: url("#{$path-icon}shield.svg");
  }
  &.heart {
    background-image: url("#{$path-icon}heart.svg");
  }
    &.active {
      background-image: url("#{$path-icon}heart-blue-fill.svg");
    }
  &.close {
    background-image: url("#{$path-icon}close.svg");
  }
  &.sort {
    background-image: url("#{$path-icon}switch-sort.png");
  }
  &.letter {
    background-image: url("#{$path-icon}letter.svg");
  }
  &.arrow {
    background-image: url("#{$path-icon}arrow.png");
    width: 73px;
    height: 93px;
  }
  &.graphic-design {
    background-image: url("#{$path-icon}graphic-design.png");
  }
  &.price-tag {
    background-image: url("#{$path-icon}price-tag.png");
  }
  &.socialmedia {
    background-image: url("#{$path-icon}socialmedia.png");
  }
  &.close {
    background-image: url("#{$path-icon}close.svg");
  }
  &.sort {
    background-image: url("#{$path-icon}switch-sort.png");
  }
  &.back {
    background-image: url("#{$path-icon}back.svg");
  }
  &.builder {
    background-image: url("#{$path-icon}builder.svg");
  }
  &.maps {
    background-image: url("#{$path-icon}maps.svg");
  }
  &.marker {
    background-image: url("#{$path-icon}marker.svg");
  }
  &.next {
    background-image: url("#{$path-icon}next.svg");
  }
  &.old-watch {
    background-image: url("#{$path-icon}old-watch.svg");
  }
  &.paper-clock {
    background-image: url("#{$path-icon}paper-clock.svg");
  }
  &.photo {
    background-image: url("#{$path-icon}photo.svg");
  }
  &.the-table {
    background-image: url("#{$path-icon}the-table.svg");
  }
  &.watch {
    background-image: url("#{$path-icon}watch.svg");
  }
  &.pencils {
    background-image: url("#{$path-icon}pencils.svg");
  }
  &.gift {
    background-image: url("#{$path-icon}gift.svg");
  }
  &.catalog-min {
    background-image: url("#{$path-design}catalog-min.png");
    background-size: auto 88%;
    background-position: left bottom;
    padding-left: 138px;
    text-align: left !important;
  }
  &.shield-blue {
    background-image: url("#{$path-icon}shield-blue.svg");
  }
  &.house-blue {
    background-image: url("#{$path-icon}house-blue.svg");
  }
  &.builder-blue {
    background-image: url("#{$path-icon}builder-blue.svg");
  }
  &.download-white {
    background-image: url("#{$path-icon}download-white.svg");
    vertical-align: middle;
  }
  &.warning {
    background-image: url("#{$path-icon}warning.png");
  }
  &.success {
    background-image: url("#{$path-icon}success.png");
  }
  &.checked-blue {
    background-image: url("#{$path-icon}checked-blue.png");
    background-size: 15px 15px;
  }
  &.lokobank {
    background-image: url("#{$path-icon}lokobank.png");
    width: 187px;
    height: 51px;
    margin: 0;
  }
  &.spray-blue {
    background-image: url("#{$path-icon}spray-blue.svg");
  }
  &.camera-blue {
    background-image: url("#{$path-icon}camera-blue.svg");
  }
  &.entry-blue {
    background-image: url("#{$path-icon}entry-blue.svg");
  }
  &.money-on-hands-blue {
    background-image: url("#{$path-icon}money-on-hands-blue.svg");
  }
  &.outline-blue {
    background-image: url("#{$path-icon}outline-blue.svg");
  }
  &.writing-accessories-blue {
    background-image: url("#{$path-icon}writing-accessories-blue.svg");
  }
  &.arrows-down-blue {
    background-image: url("#{$path-icon}arrows-down-blue.svg");
  }
  &.cushion-blue {
    background-image: url("#{$path-icon}cushion-blue.svg");
  }
  &.sale-blue {
    background-image: url("#{$path-icon}sale-blue.svg");
  }
  &.delivary-blue {
    background-image: url("#{$path-icon}delivary-blue.svg");
  }
  &.entry-ok-blue {
    background-image: url("#{$path-icon}entry-ok-blue.svg");
  }
  &.paper-apply {
    background-image: url("#{$path-icon}paper-apply.svg");
  }
  &.scheme {
    background-image: url("#{$path-icon}scheme.svg");
  }
  &.book-apply {
    background-image: url("#{$path-icon}book-apply.svg");
  }
  &.delivery {
    background-image: url("#{$path-icon}delivery.svg");
  }
  &.diagram {
    background-image: url("#{$path-icon}diagram.svg");
  }
  &.key-arm {
    background-image: url("#{$path-icon}key_arm.svg");
  }
  &.shield {
    background-image: url("#{$path-icon}shield.svg");
  }
  &.interior {
    background-image: url("#{$path-icon}interior.svg");
  }
  &.plan {
    background-image: url("#{$path-icon}plan.svg");
  }
  &.yandex {
    background-image: url("#{$path-icon}yandex.png");
  }
  &.mail {
    background-image: url("#{$path-icon}mail.png");
  }
  &.gmail {
    background-image: url("#{$path-icon}gmail.png");
  }
}
*/

.ic,
.ic-t {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $ic-h;
  height: $ic-w;
  margin: 0 5px;
  vertical-align: bottom;
  position: relative;
  text-decoration: none;
  color: inherit;
  // &.marker { }
  // &.printer { }
  &.delivery {
    background-size: 42px auto;
  }
  &.diagram {
    background-size: 35px 35px;
  }
  &.key-arm {
    background-size: 42px auto;
  }
  &.shield {
    background-size: 34px 37px;
  }
  // &.heart
  // &.active
  // &.basket
  // &.active
  &.jackdaw,
  &.cross,
  &.close,
  &.prev,
  &.next,
  &.down,
  &.up {
    position: relative;
    background: transparent;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
    }
  }

  &.close {
    &:before,
    &:after {
      height: 1px;
      border-radius: 5px;
      background-color: $c-primary;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg)
    }

    &.v1 {
      &:before,
      &:after {
        background-color: $c-white;
      }
    }
  }

  &.prev,
  &.next,
  &.down,
  &.up {
    &:before,
    &:after {
      width: 15px;
      height: 2px;
      border-radius: 5px;
      background-color: $c-primary;
      top: 48%;
    }

    &.ic-white {
      &:before,
      &:after {
        background-color: $c-white;
      }
    }
  }

  &.prev {
    &:before,
    &:after {
      left: 50%;
      transform-origin: left center;
      margin-left: -5px;
    }

    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  &.next {
    &:before,
    &:after {
      right: 50%;
      transform-origin: right center;
      margin-right: -5px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &.down {
    margin: 0;
    width: 10px;

    &:before,
    &:after {
      width: 10px;
      top: 50%;
      transition: .3s;
    }

    &:before {
      right: -3px;
      transform: rotate(45deg);
    }

    &:after {
      left: -3px;
      transform: rotate(-45deg);
    }

    &.active {
      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }

  &.jackdaw {
    margin: 0 18px 0 0;
    transform: rotate(-45deg) translate(7px,-7px);

    &:before,
    &:after {
      border-radius: 3px;
      bottom: 0;
      left: 0;
      background-color: $c-primary;
    }

    &:before {
      height: 50%;
      width: 2px;
    }

    &:after {
      height: 2px;
    }
  }

  &.cross {
    margin: 0 18px 0 0;

    &:before,
    &:after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      margin: auto;
      border-radius: 3px;
      background-color: $c-primary;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

.ic-t {
  width: auto;
  background-position: center left;
  padding-left: $ic-w + 5px;
  line-height: $ic-h;
}
