<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class NotFound extends Vue { }
</script>

<template>
  <article class="page thanks">
    Страница не найдена
  </article>
</template>
