<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {AxiosResponse} from 'axios';

import Cn3bieListProjects from '@/components/cn3bie/Cn3bieListProjects.vue';
import SectionTalkAbout from '@/components/section/TalkAbout.vue';
import SectionOtherProjects from '@/components/section/OtherProjects.vue';
import SectionMaps from '@/components/section/Maps.vue';

import {IProject, IResponseModel} from '@/models';
import {Settings} from '@/assets/data/settings';

import projectsServer from '@/services/projects.service';
import {ActionType} from '@/store';

@Component({
  components: {
    Cn3bieListProjects,
    SectionTalkAbout,
    SectionOtherProjects,
    SectionMaps,
  },
})
export default class Builded extends Vue {
  settings = Settings;
  totalCount = 0;
  moreCount = 0;
  loading = false;
  loadAll = false;

  get listProjects() {
    return this.$store.state.builded.projects;
  }

  set listProjects(projects: IProject[]) {
    const size: number = this.loadAll ?  -1 : this.$store.state.build.size;

    this.$store.commit(ActionType.LoadedBuildedProjects, {
      projects: projects.map((project: IProject) => {
        project.url = `${project.id}`;

        return project;
      }),
      size,
    });
  }

  mounted() {
    this.getSettingProjects()
      .then(() => {
        this.getProjects();
      });
  }

  getAllProjects() {
    this.loadAll = true;
    this.getProjects();
  }

  private getSettingProjects() {
    return projectsServer.getSettingProjects()
      .then(res => {
        this.totalCount = res.data.totalCount;
      });
  }

  private getProjects() {

    this.loading = true;

    projectsServer.getBuildedProjects(1)
      .then(res => {
        this.moreCount = this.totalCount - res.data.data.length;

        this.listProjects = res.data.data;

        this.loading = false;
      });
  }
}
</script>

<template>
  <article class="page houses-being-built">
    <v-container>
      <h2 class="title text-xs-left">Дома построены</h2>

      <cn3bie-list-projects :list="listProjects"></cn3bie-list-projects>

      <v-layout justify-center v-if="moreCount">
        <v-btn
          class="more btn-transparent"
          block
          outline
          large
          @click="getAllProjects()"
          :loading="loading"
        >Посмотреть еще {{moreCount}} проекта</v-btn>
      </v-layout>
    </v-container>

    <section-talk-about></section-talk-about>

    <section-other-projects></section-other-projects>

    <section-talk-about></section-talk-about>
  </article>
</template>

<style lang="scss">
.page.houses-being-built {
  background-color: #f9f9f9;

  .title {
    margin-bottom: 45px;
  }

  .more {
    max-width: 510px;
    height: 76px;
  }
}
</style>
