<script lang="ts">
import {Component, Prop, Model, Vue} from 'vue-property-decorator';

export interface EventTargetInput extends EventTarget {
  value: string;
}

@Component
export default class Cn3bieTextInput extends Vue {
  @Prop()
  value!: string;
  @Prop()
  label!: string;

  vl = '';

  created() {
    this.vl = this.updateTargetValue(this.value);
  }

  updated(){
    this.vl = this.updateTargetValue(this.value);
  }

  change(target: EventTargetInput) {
    const val = this.clean(target);

    this.$emit('change', val);
    this.$emit('input', val);
  }

  input(target: EventTargetInput) {
    const val = this.clean(target);

    this.$emit('change', val);
    this.$emit('input', val);
  }

  private clean(target: EventTargetInput) {
    return target && target.value ? parseInt(('' + target.value).replace(/\./gi, ''), 10) || 0 : 0;
  }

  private updateTargetValue(value: string) {
    let val = value ? ('' + value).replace(/\D/gi, '') : '';

    if (val.length > 3) {
      const newStr: string[] = [];

      for (let i = 1; i <= Math.floor(val.length / 3); i++) {
        newStr.unshift(val.substr(-i * 3, 3));
      }

      if (val.length % 3) {
        newStr.unshift(val.substr(0, val.length % 3));
      }

      return newStr.join('.').trim();
    }

    return val;
  }
}
</script>

<template>
  <div class="cn3bie-text-input">
    <span class="label">{{label}}</span>
    <input type="text"
      class="input"
      :value="vl"
      @change="change($event.target)"
      @input="input($event.target)"
    />
    <div class="after">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.cn3bie-text-input {
  border: 1px solid #b8b8b8;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  font-size: 14px;
  line-height: 38px;

  .label {
    color: #b8b8b8;
  }

  .input {
    width: 100%;
    outline: none;
    padding: 0 5px;
    text-align: right;
  }
}
</style>
