<script lang="ts">
import {Component, Prop, Model, Vue, Emit} from 'vue-property-decorator';

@Component
export default class Cn3bieCheckboxInput extends Vue {
  @Prop()
  value!: string;
  @Prop()
  label!: string;
  @Prop()
  type!: string;
  @Prop()
  name!: string;
  @Prop()
  isChecked!: boolean;

  typed = '';

  mounted() {
    this.typed = this.type || 'checkbox';
  }

  @Emit()
  change() {
    // console.log('gey');
    return !this.isChecked;
  }
}
</script>

<template>
  <div class="cn3bie-input-box"
    :class="{
      'cn3bie-input-box_checkbox': typed === 'checkbox',
      'cn3bie-input-box_radio': typed === 'radio',
      'checked': this.isChecked
    }"
  >
    <label class="cn3bie-input-box__wr-label">
      <input
        class="cn3bie-input-box__input"
        :type="typed"
        :value="value"
        :name="typed === 'checkbox' ? name + '[]': name"
        :checked="isChecked"
        @change="change()"
      />
      <span class="cn3bie-input-box__box"></span>
      <span class="cn3bie-input-box__label">{{label}}</span>
    </label>
  </div>
</template>

<style lang="scss" scoped>
.cn3bie-input-box {
  margin: 10px 0;

  &__wr-label {
    display: block;
    cursor: pointer;

  }

  &__input {
    display: none;
  }

  &__box {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid #b8b8b8;
    margin-right: 18px;
    vertical-align: middle;
    transition: .3s;
  }

  &.checked &__box {
    background-color: #000;
    border-color: #000;
  }

  &__label {
    line-height: 18px;
    font-size: 16px;
    vertical-align: middle;
  }

  &#{&} {
    &_radio {
      &.checked .cn3bie-input-box__box {
        transition: .6s;
        transform: rotate(45deg);
      }
    }
  }
}
</style>
