<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class Cn3bieVueTextInput extends Vue {
  @Prop()
  value!: string;
  @Prop()
  height!: string;
  @Prop()
  isPhone!: string;
  @Prop()
  placeholder!: string;

  input(target: HTMLInputElement) {
    if (this.isPhone) {
      this.phoneParse(target);
    } else {
      this.emailParse(target);
    }

    this.$emit('input', target.value);
  }

  private emailParse(target: HTMLInputElement) {
    if (target != null && target.value != null) {
      let str = target.value;

      str = str.replace(/[^A-z0-9\-\_@\.]|\\|\]|\[|\`|\^/gi, '');

      target.value = str;
    }
  }
  private phoneParse(target: HTMLInputElement) {
    // console.clear();
    if (target != null && target.value != null) {

      let startIndex = target.selectionStart || target.value.length;
      const plus7 = '+7 (';
      const plus7length = plus7.length;
      // const begin = startIndex <= plus7length;

      // console.log('begin=', startIndex, plus7length);
      startIndex = startIndex <= plus7length ? 0 : startIndex - plus7length;


      let count = '888) 888-88-88'.slice(startIndex).indexOf('8');
      // console.log('888) 888-88-88'.slice(startIndex), count, startIndex);
      // console.log('Do', count);
      if (count >= 0 && startIndex !== count) {
        if (startIndex + plus7length >= target.value.length) {
          count += 1;
        }

        startIndex += count;
        // console.log('In', startIndex, count);
      }

      if (!startIndex) {
        startIndex++;
      }

      let str = target.value.replace(/\+7 ?\(?/, '');

      if (str) {
        str = str.replace(/\D+/gi, '').slice(0, 10);
        str = str.replace(/(\d{0,3})(\d{0,3})?(\d{0,2})?(\d{0,2})?/, '$1) $2-$3-$4');
        str = str.replace(/(\d)?(\D+)$/, '$1');
      }

      target.value = plus7 + str;

      this.setCaretPosition(target, startIndex + plus7length);
    }
  }

  private setCaretPosition(ctrl: HTMLInputElement, pos: number) {
    if (ctrl.setSelectionRange) {
      ctrl.focus();
      ctrl.setSelectionRange(pos, pos);
    }
  }
}
</script>

<template>
  <div class="cn3bie-form-phone">
    <!-- <v-text-field
      class="cn3bie-vue-text-input"
      :value="value"
      @focus="input($event)"
      @input="input($event.target)"
      :placeholder="placeholder"
      :rules="[v => !!v || 'Поле необходимо заполнить']"
      :height="(height ? (height + '').replace(/\D/gi,'') : 50) + 'px'"
      clearable
      required
      loading
    >
      <div class="progress" slot="progress"></div>
    </v-text-field> -->
    <input
      type="text"
      class="cn3bie-form-phone__input"
      v-bind:style="{
        fontSize: parseInt(height ? (height + '').replace(/\D/gi,'') : 55) * .8 + 'px',
        height: (height ? (height + '').replace(/\D/gi,'') : 55) + 'px',
        lineHeight: (height ? (height + '').replace(/\D/gi,'') : 55) + 'px'
      }"
      :value="value"
      :placeholder="placeholder"
      @focus="input($event.target)"
      @input="input($event.target)"
    />
  </div>
</template>

<style lang="scss">
.cn3bie-vue-text-input.v-input {
  .v-input__slot {
    margin-bottom: 0;
  }

  input {
    max-height: 50px;
    line-height: 50px;
  }
}

.cn3bie-form-phone {
  margin-top: 20px;

  &__input {
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
</style>
