<script src="./catalog.component.ts" lang="ts"></script>

<template>
  <article class="page article-catalog">
    <v-container>
      <v-layout justify-space-between>
        <v-flex class="wr-filters"></v-flex>

        <v-flex class="wr-right">
          <h2 class="title title-catalog">{{title}}</h2>

          <p class="section-desc first-line">Если вам понравился проект то его можно построить из любого материала:</p>

          <p class="section-desc">
            <span
              class="lowercase"
              v-for="(material, i) in materials"
              :key="i"
            >
              {{material | TypeName}}{{i === materials.length - 1 ? '': ','}}
            </span>
          </p>
          <v-layout class="wr-sort">
            <v-flex>
              <v-select
                v-model="selectSort"
                :items="listSort"
                @change="change()"
                outline
              >
                <template slot="selection" slot-scope="data">
                  <div class="text--gray">Сортировать по: </div>{{data.item.name}}
                </template>

                <template slot="item" slot-scope="data">
                  <div class="text--gray">Сортировать по: </div>{{data.item.name}}
                </template>
              </v-select>
            </v-flex>

            <v-spacer></v-spacer>

            <v-layout align-center justify-end @click="toggleGridAsLine()">
              <cn3bie-grid-line :active="gridAsLine"></cn3bie-grid-line>
            </v-layout>
          </v-layout>
        </v-flex>
      </v-layout>

      <v-layout justify-space-between>
        <v-flex class="wr-filters">
          <v-layout class="filters" column>
            <v-flex class="filters__item">
              <div class="total-count">{{totalCount}} проектов</div>

              <v-layout justify-center>
                <v-btn outline flat class="clear-filter btn-transparent" @click="resetFilters()">Очистить фильтры</v-btn>
              </v-layout>
            </v-flex>

            <v-flex class="filters__item"
              v-for="(filter, i) in listFilters"
              :key="i"
            >
              <cn3bie-filter-item
                @change="changeFilter($event)"
                :title="filter.title"
                :name="filter.name"
                :box="filter.box"
                :slider="filter.slider"
              ></cn3bie-filter-item>
            </v-flex>

            <v-layout class="move-btn"
              v-bind:style="{
                top: moveBtnTop
              }"
              v-show="moveBtnShow"
              @click="applyFilters()"
              align-center
              justify-space-between
              v-ripple
            >
              <v-flex xs6 class="text-xs-center">{{filterCount ? 'Показать' : 'Сбросить'}}</v-flex>

              <v-flex xs6 class="black">
                <v-btn class="apply-filter" color="primary" block large :ripple="false">{{filterCount}} проект{{nameFilter}}</v-btn>
              </v-flex>
            </v-layout>

            <v-flex class="filters__item last-item">
              <v-btn class="apply-filter" color="primary" block large @click="applyFilters($event.target)">Показать</v-btn>

              <div class="reset-filter">
                <span class="icon close">x</span> Сбросить фильтр
              </div>
            </v-flex>
          </v-layout>

          <cn3bie-reclama></cn3bie-reclama>
        </v-flex>

        <v-flex class="wr-right list-projects">
          <cn3bie-list-projects
            :list="listProjects"
            :is-projects="true"
            :as-line="gridAsLine"
          ></cn3bie-list-projects>
        </v-flex>
      </v-layout>

      <v-layout justify-center v-if="this.moreCount">
        <v-btn
          class="more btn-transparent"
          block
          outline
          large
          @click="getAllProjects()"
          :loading="loading"
        >Посмотреть еще {{moreCount}} проект{{name}}</v-btn>
      </v-layout>
    </v-container>

    <form-suitable-project></form-suitable-project>

    <section-talk-about></section-talk-about>

    <section-maps></section-maps>
  </article>
</template>

<style lang="scss">
.v-list__tile.v-list__tile--link {
  .text--gray {
    color: #d7d7d7;
    margin-right: 5px;
  }
}

.lowercase {
  text-transform: lowercase;
}

.page.article-catalog {
  background-color: #f3f3f3;

  .clear-filter {
    height: 35px;
  }

  .title-catalog {
    margin-top: 45px;
    text-align: left;
  }

  .section-desc {
    text-align: left;

    &.first-line {
      margin-bottom: 0;
    }
  }

  .wr-sort {
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 20px;

    .text--gray {
      color: #cacaca;
      margin-right: 5px;
    }

    .v-text-field.v-text-field--enclosed {
      max-width: 370px;

      .v-input__append-inner,
      .v-input__append-outer,
      .v-input__prepend-inner,
      .v-input__prepend-outer {
        margin-top: 5px;
      }
    }

    .v-text-field--box .v-input__slot, .v-text-field--outline .v-input__slot {
      min-height: 37px;
    }

    .v-text-field.v-text-field--enclosed .v-input__slot,
    .v-text-field.v-text-field--enclosed .v-text-field__details {
      border: 1px solid #cfcfcf;
      border-radius: 0;
      margin: 0;
    }

    .v-text-field--outline.v-input--is-focused .v-input__slot,
    .v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot:hover {
      border: 1px solid #cfcfcf;
      border-radius: 0;
    }

    .v-text-field.v-text-field--enclosed .v-text-field__details {
      display: none;
    }

    .v-select.v-text-field--enclosed:not(.v-text-field--single-line) .v-select__selections {
      padding-top: 0;
    }
  }

  .wr-filters {
    flex-basis: 300px;
    max-width: 300px;
    // padding-right: 30px;

    .filters {
      background-color: #fff;
      position: relative;

      .move-btn {
        position: absolute;
        left: 100%;
        z-index: 99;
        top: 0;
        width: 100%;
        height: 50px;
        background-color: #fff;
        box-shadow: 0 10px 40px 0 rgba(45, 45, 52, .5);
        cursor: pointer;
        transition: ease-in-out .3s;

        .v-btn {
          margin: 0;

          &:hover {
            box-shadow: none;
          }
        }
      }

      .total-count {
        margin: 20px 0 10px;
        text-align: center;
      }

      .filters__item {
        border-top: 1px solid #f3f3f3;

        .v-btn {
          margin: 0 0 10px 0;
        }

        &.last-item {
          padding: 20px;

          .apply-filter {
            color: #fff;
          }

          .reset-filter {
            text-align: center;
          }
        }
      }
    }
  }

  .wr-right {
    width: 100%;
    max-width: 950px;
  }

  .more {
    max-width: 510px;
    height: 76px;
  }
}
</style>
