<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {AxiosResponse} from 'axios';

import SectionMainInfo from '@/components/section/MainInfo.vue';
import SectionPlans from '@/components/section/Plans.vue';
import SectionFasad from '@/components/section/Fasad.vue';
import SectionTalkAbout from '@/components/section/TalkAbout.vue';
import SectionOtherProjects from '@/components/section/OtherProjects.vue';
import SectionMaps from '@/components/section/Maps.vue';

import {
  IProject,
  IResponseProject,
  TypeMaterial,
  IPlan,
  TypeConstruction,
  IPhotootchet,
  IImgWithName
} from '@/models';
import {
  EmptyProject,
  ListAdditionals,
  ListPhotootchet,
  ListTypeMaterial,
  ListTypeConstruction,
} from '@/assets/data/listProjects';
import Settings from '@/assets/data/settings';

import projectsServer from '@/services/projects.service';

@Component({
  components: {
    SectionMainInfo,
    SectionPlans,
    SectionFasad,
    SectionTalkAbout,
    SectionOtherProjects,
    SectionMaps,
  },
})
export default class CardBuild extends Vue {
  address = '';
  project: IProject = EmptyProject;

  images: string[] = [];
  plans: IPlan[] = [];
  fasads: string[] = [];

  additionals: IImgWithName[] = [];

  mounted() {
    projectsServer.getBuildProjectById(this.$route.params.id)
      .then(res => {
        Object.assign(this.project, res.data);

        if (Array.isArray(res.data.images)) {
          this.images.length = 0;
          this.images.push(...res.data.images);
        }

        if (Array.isArray(res.data.plans)) {
          this.plans.length = 0;
          this.plans.push(...res.data.plans);
        }

        if (Array.isArray(res.data.fasads)) {
          this.fasads.length = 0;
          this.fasads.push(...res.data.fasads);
        }

        this.address = res.data.address;

        this.additionals.length = 0;
        Object.keys(res.data.additional)
          .forEach((key: string) => {
            const additional = ListAdditionals[res.data.additional[key]];
            if (additional) {
              this.additionals.push(additional);
            }
          });
      });
  }
}
</script>

<template>
  <article class="page article-houses-being-built__card">
    <section-main-info
      :address="address"
      :images="images"
      :project="project"
    ></section-main-info>

    <div class="other-section">
      <v-container>
        <section-plans v-if="plans.length" :list="plans" :additionals="additionals"></section-plans>

        <section-fasad v-if="fasads.length" :list="fasads"></section-fasad>
      </v-container>
    </div>

    <section-talk-about></section-talk-about>

    <section-other-projects></section-other-projects>

    <section-maps></section-maps>
  </article>
</template>

<style lang="scss" scoped>
.article-houses-being-built__card {
  .other-section {
    background-color: #f6f6f6;

    .section {
      background-color: #fff;
      padding: 65px 75px;
      margin-top: 50px;

      .title {
        padding-bottom: 35px;
        font-weight: 400 !important;
      }
    }
  }
}
</style>
