<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {FooterMenu, IItemPage} from '@/assets/data/listPage';
import {ListSocialNetwork, IItemSocialNetworkl} from '@/assets/data/listSocialNetwork';

import Settings from '@/assets/data/settings';

@Component
export default class FooterMain extends Vue {
  title: string = Settings.title;
  logo: string = require('@/assets/logo--white.svg');
  listPage: IItemPage[] = FooterMenu;
  listSocialNetwork: IItemSocialNetworkl[] = ListSocialNetwork;
}
</script>

<template>
  <footer class="footer-main">
    <v-container>
      <v-layout>
        <v-flex>
          <v-img class="logo" :src="logo" :alt="title" max-height="70"></v-img>
        </v-flex>

        <v-flex>
          <v-layout row wrap justify-start tag="nav" class="nav-d">
            <v-flex class="wr-menu" v-for="page in listPage" :key="page.id">
              <router-link class="link" :to="page.link">{{page.title}}</router-link>

              <v-layout column class="subpage" v-if="page.children && page.children.length">
                <v-flex class="il-d" v-for="subpage in page.children" :key="subpage.id">
                  <router-link class="link" :to="subpage.link">{{subpage.title}}</router-link>
                </v-flex>
              </v-layout>
            </v-flex>

            <v-spacer></v-spacer>
          </v-layout>
        </v-flex>
      </v-layout>

      <p class="eye-text">Следите за нами в социальных сетях:</p>

      <v-layout class="list-social-network">
        <v-flex v-for="item in listSocialNetwork" :key="item.id">
          <v-icon v-html="item.icon" color="white" size="17"></v-icon>

          <v-btn flat :href="item.link">{{item.name}}</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-layout class="copyright">
      <v-container>
        <p class="text">
          <v-icon color="white" size="15">copyright</v-icon> <span> 2008-2018. "Илрусстрой" Все права защищены. <br />Данный сайт носит информационно-справочный характер <br />и не при каких условиях не является публичной офертой.</span>
        </p>
        <p class="text">Любая информация, предствленная на данном сайте, носит исключительно <br />информаионный характер и не является публичной офертой, определяемой <br />положениями статьи 437 ГК РФ</p>
      </v-container>
    </v-layout>
  </footer>
</template>

<style lang="scss" scoped>
.footer-main {
  background-color: #333;
  color: #fff;

  .logo {
    width: 210px;
  }

  .nav-d {
    margin: 0 -40px;
    padding-left: 50px;

    .wr-menu {
      padding: 0 40px;
      box-sizing: content-box;
      margin-bottom: 30px;
      max-width: 200px;
    }

    .link {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: normal;
      line-height: 17px;
    }

    .subpage {
      margin-top: 10px;

      .link {
        color: #ababab;
        line-height: 19px;
      }
    }
  }

  .eye-text {
    font-size: 15px;
    margin-top: 50px;
    color: #ababab;
  }

  .list-social-network {
    .flex {
      flex-grow: initial;

      .v-btn {
        font-size: 14px;
        color: #fff;
        font-weight: 300 !important;
        margin: 0;
        height: 17px;
        padding-left: 5px;
        min-width: 50px;
        margin-right: 20px;
        vertical-align: bottom;
      }
    }
  }

  .copyright {
    background-color: #1f1f1f;
    color: #ababab;

    .text {
      font-size: 14px;
      line-height: 17px;
      text-align: left;
    }
  }
}
</style>
