<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {AxiosResponse} from 'axios';
import {IResponseModel} from '@/models';

import projectsServer from '@/services/projects.service';

import {ListPhone, IItemPhone} from '@/assets/data/listPhone';
import {ListPage, IItemPage} from '@/assets/data/listPage';

import Settings from '@/assets/data/settings';

import Cn3bieIcon from '@/components/cn3bie/Cn3bieIcon.vue';
import Cn3biePopupFeedback from '@/components/cn3bie/Cn3biePopupFeedback.vue';

@Component({
  components: {
    Cn3bieIcon,
    Cn3biePopupFeedback,
  },
})
export default class HeaderMain extends Vue {
  title: string = Settings.title;
  listPhone: IItemPhone[] = ListPhone;
  listPage: IItemPage[] = ListPage;
  logo: string = require('@/assets/logo--black.svg');

  constructor() {
    super();

    projectsServer.getCountBuildProjects().then(res => {
      this.listPage.forEach(item => {
        if (item.link === '/build/') {
          item.count = res.data;
        }
      });
    });
  }

  get bookmarks(): number {
    return this.$store.state.bookmark.count;
  }

  set bookmarks(count: number) { /** */ }

  goToBookmark() {
    this.$router.push('/bookmark');
  }
}
</script>

<template>
  <header class="main-header">
    <v-container>
      <v-layout class="primary-line" wrap>
        <v-flex xs12 md6>
          <v-layout row>
            <v-flex class="wr-logo">
              <router-link to="/">
                <v-img class="logo" :src="logo" :alt="title" max-height="70"></v-img>
              </router-link>
            </v-flex>

            <v-flex>
              <p class="text">Проектируем и строим <br />загородные дома в Санкт-Петербурге <br />и области с 2008 года</p>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs12 md6 class="text-xs-right">
          <v-layout d-inline-flex>
            <v-flex  s3 class="wr-phone" v-for="itemPhone in listPhone" :key="itemPhone.id">
              <span class="phone">{{itemPhone.phone}}</span>

              <p>{{itemPhone.text}}</p>
            </v-flex>

            <v-flex s3 class="wr-phone">
              <cn3bie-popup-feedback
                :label="'Обратный звонок'"
                :height="40"
                block="block"
              ></cn3bie-popup-feedback>

              <p>Время работы с 10:00 - 20:00</p>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>

      <v-layout row
        justify-space-between
        align-end
      >
        <v-flex>
          <v-layout row tag="nav" class="nav nav-bar">
            <v-flex v-for="(page, i) in listPage" :key="'page' + i">
              <v-layout align-center>
                <v-badge v-model="page.count" color="secondary">
                  <span class="badge" slot="badge">{{page.count}}</span>

                  <router-link :to="page.link">{{page.title}}</router-link>
                </v-badge>
              </v-layout>

              <div class="submenu"
                v-if="page.children"
              >
                <v-container>
                  <v-layout d-inline-flex>
                    <v-flex class="submenu__item"
                      v-for="(type, j) in page.children"
                      :key="'submenu__item' + i + j"
                    >
                      <div class="wr-inline">
                        <span v-if="!type.link">{{type.title}}</span>
                        <router-link v-if="type.link" :to="type.link">
                          <span>{{type.title}}</span>
                        </router-link>
                        <div class="submenu__item__item"
                          v-for="(item, z) in type.children"
                          :key="'submenu__item' + i + j + z"
                        >
                          <router-link :to="item.link">{{item.title}}</router-link>
                        </div>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-container>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex class="wr-bookmark"
          text-xs-right
          @click="goToBookmark()"
          v-bind:class="{
            active: bookmarks
          }"
        >
          <v-layout align-center justify-end>
            <span class="text">Избранное</span>

            <v-badge v-model="bookmarks" color="secondary" class="wr-bookmark-icon">
              <span slot="badge">{{bookmarks}}</span>

              <cn3bie-icon icon="bookmark" :state="bookmarks"></cn3bie-icon>
            </v-badge>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </header>
</template>

<style lang="scss">
$c-primary: #000;

.main-header {
  position: relative;

  & > .container {
    padding-bottom: 0;
    font-weight: 500;
  }

  .primary-line {
    .wr-logo {
      align-items: center;
      display: flex;
      width: 100%;
      max-width: 210px;

      a {
        width: 100%;
      }
    }

    .text {
      padding-left: 30px;
      font-size: 14px;
      line-height: 16px;
      margin: 0;
      color: #5f5f5f;
    }

    .wr-phone {
      margin-left: 30px;
      text-align: left;

      .v-btn {
        margin: 0 -16px;
        height: 34px;

        &:hover {
          box-shadow: none;
        }

        div {
          font-size: 16px;
          font-weight: 500 !important;
        }
      }


      .phone {
        font-size: 16px;
        height: 34px;
        line-height: 34px;
      }

      p {
        color: #5f5f5f;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .wr-bookmark {
    cursor: pointer;
    .layout {
      min-height: 40px;
    }

    .text {
      padding-right: 10px;
      font-size: 16px;
      line-height: 22px;
      color: #fff;
      transition: .3s;
    }

    .wr-bookmark-icon {
      opacity: 0;
      transition: .3s;
    }

    &.active {
      .text {
        color: #5f5f5f;
      }
      .wr-bookmark-icon {
        opacity: 1;
      }
    }
  }

  .nav-bar {
    .flex {
      .layout {
        min-height: 40px;
      }

      a {
        font-size: 16px;
        line-height: 22px;
        vertical-align: bottom;
        position: relative;
        color: #5f5f5f;

        &:before,
        &:after {
          position: absolute;
          content: '';
          display: block;
          width: 0;
          bottom: -5px;
          border-bottom: 3px solid $c-primary;
          transition: .3s;
        }

        &:before {
          right: 50%;
        }

        &:after {
          left: 50%;
        }

        &.router-link-active,
        &:hover {
          color: #000;

          &:before,
          &:after {
            width: 50%;
          }
        }
      }

      &:hover .submenu {
        opacity: 1;
        display: inline-flex;
        transition: .3s;
      }

      .submenu {
        display: none;
        position: absolute;
        opacity: 0;
        top: 100%;
        left: 0;
        right: 0;
        padding: 20px 0;
        background-color: #333;
        z-index: 99;

        .submenu__item {
          .wr-inline {
            padding-left: 15px;
            padding-right: 75px;
            border-left: 1px solid #444;
          }

          span {
            color: #ababab;
            font-size: 17px;
            line-height: 1.3;
            font-weight: 100;
          }

            a {
              color: #fff;
              font-size: 14px;
              line-height: 16px;
              font-weight: 100;

              &:before,
              &:after {
                border-bottom: 3px solid #fff;
              }
            }
          .submenu__item__item {
            margin-top: 15px;

          }
        }
      }
    }
  }
}
</style>
