<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import SectionAbout from '@/components/section/About.vue';

@Component({
  components: {
    SectionAbout,
  },
})
export default class About extends Vue { }
</script>

<template>
  <article class="page about">
    <section-about></section-about>
  </article>
</template>
