<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {IPerson} from '@/models/personal.model';
import listPerson from '@/assets/data/listPerson';

let indexPersonI = 0;
let indexPersonJ = 0;
@Component
export default class SectionAbout extends Vue {
  listEmploee: IPerson[][] = listPerson.sort((a: IPerson, b: IPerson): number => -(b.order - a.order))
    .reduce<IPerson[][]>((accum: IPerson[][], person: IPerson) => {
      if (!(indexPersonJ % 3) && indexPersonJ !== 0) {
        indexPersonI++;
      }

      indexPersonJ++;

      if (!accum[indexPersonI]) {
        accum[indexPersonI] = new Array();
      }

      accum[indexPersonI].push(person);

      return accum;
    }, []);
  listFitch: Array<{ title: string; desc: string; }> = [{
    title: '150+',
    desc: 'выполненных проектов',
  }, {
    title: '75+',
    desc: 'сотрудников',
  }, {
    title: '10 лет',
    desc: 'опыт в строительстве',
  }];
}
</script>

<template>
  <section class="section about">
    <div class="bg-person">
      <v-container>
        <v-layout row>
          <v-flex xs6 tag="h2" class="title">Кто <span class="text--gray">мы</span></v-flex>
          <v-flex xs6>
            <p class="section-desc">Архитектурно-строительная компания "Илрусстрой". Проектируем и строим загородные дома, коттеджи <br />в Санкт-Петербурге и Ленинградской области с 2008 года</p>
            <v-layout row class="list-fitch">
              <v-flex
                class="list-fitch__item"
                v-for="(item,i) in listFitch"
                :key="i"
              >
                <div class="title">{{item.title}}</div>
                <div class="desc">{{item.desc}}</div>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </div>

    <div class="emploee__list"
      v-for="(row, i) in listEmploee"
      :key="i"
    >
      <v-container>
        <v-layout>
          <v-flex
            class="emploee__item"
            sm4
            v-for="(item,j) in row"
            :key="i + j"
          >
            <div class="img" v-bind:style="{
              backgroundSize: item.size + '%',
              backgroundImage: 'url(' + item.img + ')' }"></div>

            <div class="wr-text">
              <h4 class="title text-xs-center">{{item.name}}</h4>
              <p class="position text-xs-center text--gray" v-html="item.position"></p>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </section>
</template>

<style lang="scss">
.section.about {
  background-color: #f9f9f9;
  padding-top: 100px;

  h2.title {
    text-align: left;

    span {
      color: #c0c0c0;
    }
  }

  .bg-person {
    background-image: #000 url('../../assets/emploee/D03I8605.jpg') bottom center no-repeat;
    background-size: contain;
  }

  .section-desc {
    text-align: left;
    padding-top: 70px;
    font-size: 22px !important;
    line-height: 25px !important;
  }

  .list-fitch {
    margin-top: 60px;
    margin-bottom: 30px;

    .list-fitch__item {
      .title {
        text-align: left;
        font-size: 30px !important;
        line-height: 30px !important;
        font-weight: 400;
      }

      .desc {
        color: #a0a0a0;
        margin-top: 10px;
      }
    }
  }

  .emploee__list {
    padding-bottom: 0;
    position: relative;

    .container {
      padding: 0;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 217px;
      background-color: #fff;
    }

    .emploee__item {
      width: 100%;

      .img {
        background-color: #f9f9f9;
        background-position: center bottom;
        background-size: 100%;
        padding-bottom: 150%;
      }

      .wr-text {
        position: relative;
        background-color: #fff;
        padding-top: 54px;
        height: 217px;
        box-sizing: border-box;

        .position {
          margin-top: 10px;
          color: #c0c0c0;
        }
      }

    }
  }
}
</style>
