<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class SectionFasad extends Vue {
  @Prop()
  list!: string[];
}
</script>

<template>
  <section class="section section-fasad">
    <h2 class="title text-xs-left">Фасады</h2>

    <v-layout wrap class="list">
      <v-flex
        class="item"
        sm6
        v-for="(img, i) in list"
        :key="'fasad' + i"
      >
        <v-img
          height="270"
          :src="img + '=' + i"
        ></v-img>
      </v-flex>
    </v-layout>
  </section>
</template>

<style lang="scss" scoped>
.section-fasad {
  .list {
    margin: -40px;

    .item {
      padding: 40px;
    }
  }
}
</style>
