<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import Settings from '@/assets/data/settings';

@Component
export default class SectionFirstScreen extends Vue {
  private title = Settings.title;
  private listFitch: Array<{ title: string; desc: string; }> = [{
    title: '0 %',
    desc: 'предоплата <br />за работу',
  }, {
    title: 'Бесплатно',
    desc: 'проект дома',
  }, {
    title: '0 рублей',
    desc: 'Авторский надзор',
  }];
}
</script>

<template>
  <section class="section first-screen">
    <v-container fill-height>
      <v-layout align-space-around justify-center column fill-height class="max-height">
        <v-layout align-center>
          <h1 class="title text-xs-left">Поможем спроектировать <br />и построить дом с гарантией 5 лет</h1>
        </v-layout>

        <v-layout align-center>
          <v-flex xs8>
            <v-layout class="list-fitch" row>
              <v-flex v-for="item in listFitch" :key="item.id">
                <div class="name">{{item.title}}</div>
                <div class="desc" v-html="item.desc"></div>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>

        <v-layout align-center class="wr-btn">
          <v-flex>
            <p class="text-xs-center">Начните с подбора проекта</p>
            <v-btn large color="primary" block depressed to="/catalog">Подобрать проект</v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
  </section>
</template>

<style lang="scss">
.section.first-screen {
  height: calc(100vh - 130px);
  background: url('../../assets/bg/bg--first-screen__crop.png') bottom right no-repeat;
  background-size: 100%;

  h1.title {
    font-size: 60px !important;
    line-height: 62px;
  }

  .max-height {
    max-height: 470px;
  }

  .list-fitch {
    .name {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    .desc {
      font-size: 22px;
      line-height: 25px;
      color: #5f5f5f;
    }
  }

  .wr-btn {
    max-width: 300px;

    p {
      margin: 0 0 10px 0;
      font-size: 16px;
      color: #5f5f5f;
    }

    .v-btn {
      height: 60px;

      .v-btn__content{
        font-size: 16px !important;
        font-weight: 300;
      }
    }
  }
}
</style>
