<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import Cn3bieCarousel from '@/components/cn3bie/Cn3bieCarousel.vue';
import Cn3bieCarouselEmploee from '@/components/cn3bie/Cn3bieCarouselEmploee.vue';
import Cn3bieCharacteristic from '@/components/cn3bie/Cn3bieCharacteristic.vue';
import Cn3biePopup from '@/components/cn3bie/Cn3biePopup.vue';
import Cn3bieIcon from '@/components/cn3bie/Cn3bieIcon.vue';

import Settings from '@/assets/data/settings';
import {IProject, TypeMaterial} from '@/models/projects.model';
import {IPerson} from '@/models/personal.model';
import listPerson from '@/assets/data/listPerson';
import {ActionType} from '@/store';


@Component({
  components: {
    Cn3bieCarousel,
    Cn3bieCarouselEmploee,
    Cn3bieCharacteristic,
    Cn3biePopup,
    Cn3bieIcon,
  },
})
export default class SectionMainInfo extends Vue {
  @Prop()
  address!: string;
  @Prop()
  images!: string[];
  @Prop()
  project!: IProject;
  @Prop()
  isProject!: boolean;
  @Prop()
  isBilded!: boolean;

  get bookmark() {
    return this.project.metadata.bookmark;
  }

  get listEmploees() {
    return this.$store.state.emploees.managers;
  }

  get activeEmploee(): IPerson {
    return this.$store.state.emploees.active;
  }

  set activeEmploee(pers: IPerson) {
    this.$store.commit(ActionType.ChangePerson, pers);
  }

  get indexActiveEmploee(): number {
    return this.$store.state.emploees.index;
  }

  set indexActiveEmploee(index: number) {
    this.$store.commit(ActionType.ChangePerson, this.listEmploees[index]);
  }

  get currentMatterial() {
    return this.$store.state.catalog.currentMatterial;
  }

  set currentMatterial(type: string) {
    this.$store.commit(ActionType.ChangeMatterial, type);
  }

  toggleBookmark() {
    this.$store.dispatch(ActionType.ToggleBookmark, this.project);
  }

  print() {
    alert('Печать');
  }

  moveTo(i: number) {
    this.activeEmploee = this.listEmploees[i];
  }

  goToBack() {
    if (window.history.length > 1) {
      this.$router.go(-1);
    } else {
      this.$router.push('/');
    }
  }
}
</script>

<template>
  <section class="section main-info">
    <v-container>
      <h2 class="title text-xs-left">
        <span class="wr-icon" @click="goToBack()">
          <span class="icon go-to-back"></span>
        </span>
        <span>Проект “{{project.name}}”</span>
      </h2>

      <p v-if="!isProject" class="address grey--text">{{address}}</p>

      <v-layout class="wr-layout" justify-space-between>
        <v-flex class="swiper__images">
          <cn3bie-carousel
            :images="images"
            thumbnails="true"
          ></cn3bie-carousel>
        </v-flex>

        <v-flex class="characteristic">
          <v-layout class="wr-btn" v-if="isBilded">
            <v-flex xs6>
              <v-btn
                class="text-xs-left btn__left btn-transparent"
                flat
                block
                :ripple="{ class: 'black--ripple' }"
                @click="toggleBookmark()"
              >
                <span>В избранное</span>

                <cn3bie-icon icon="bookmark" :state="bookmark"></cn3bie-icon>
              </v-btn>
            </v-flex>

            <v-flex xs6>
              <v-btn
                class="text-xs-left btn__left btn-transparent"
                @click="print()"
                flat
                block
              >
                <span>Распечатать</span>

                <v-icon right>printer</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>

          <cn3bie-characteristic :project="project" />

          <p class="price" v-if="isProject">
            <span>{{project.price[currentMatterial] | FormatPrice}}</span>
          </p>

          <cn3bie-carousel-emploee
            v-if="!isBilded"
            desc="desc"
            class="carousel__list-emploee"
            :index="indexActiveEmploee"
            @move-to="moveTo"
          ></cn3bie-carousel-emploee>

          <p class="desc-wait text--gray text-xs-center">Ожидание ответа {{activeEmploee.timeManagment}}</p>

          <div class="wr-btn-more w100p">
            <cn3bie-popup
              v-if="!isProject"
              class="cn3bie-popup"
              label="Записаться на экскурсию <br />по строящимся проектам"
              :index="indexActiveEmploee"
            ></cn3bie-popup>

            <!-- <v-btn
              v-if="!isProject"
              class="more"
              large
              color="primary"
              block
              depressed
              :to="'/catalog/' + project.id"
            >Перейти в карточку проекта</v-btn> -->

            <cn3bie-popup
              class="cn3bie-popup"
              :label="isProject ? 'Получить консультацию<br /> у ' + activeEmploee.text : 'Получить консультацию по проекту'"
              :index="indexActiveEmploee"
            ></cn3bie-popup>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<style lang="scss">
$paddingLeft: 80px;

.section.main-info {
  .title {
    font-size: 37px !important;
    line-height: 38px !important;
    position: relative;

    .wr-icon {
      position: absolute;
      display: block;
      left: -70px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 20px;
      height: 20px;
      cursor: pointer;

      .icon.go-to-back {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #000;
        width: 100%;
        height: 1px;

        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 50%;
          height: 1px;
          background-color: #000;
          transform-origin: left center;
          border-radius: 4px;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .address {
    font-size: 19px;
    line-height: 21px;
  }


  $width-images: 350px + $paddingLeft;

  .wr-layout {
    .swiper__images {
      max-width: calc(100% - #{$width-images});
    }

    .characteristic {
      max-width: $width-images;
      padding-left: $paddingLeft;

      .wr-btn {
        margin: 0 -16px;

        .v-btn__content {
          justify-content: flex-start;
          color: #c0c0c0;
        }

        .btn__left:hover {
          box-shadow: none;
        }
      }

      .price {
        margin-top: 60px;
        font-size: 26px;
        line-height: 27px;
        margin-bottom: 60px;
        font-weight: 500;
      }

      .wr-btn-more {
        margin-top: 20px;

        .cn3bie-popup {
          display: block !important;
        }
      }
      .v-btn.more {
        margin-top: 10px;
        height: 70px;
      }

      .desc-wait {
        font-size: 19px;
        line-height: 1.3;
        margin-top: 20px;
        color: #c0c0c0;
      }
    }
  }
}
</style>
