
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import Settings from '@/assets/data/settings';

function initMap() {
  const google = (window as any).google;

  const styles = [{
    featureType: 'all',
    elementType: 'labels.text.fill',
    stylers: [{ saturation: 36 }, { color: '#000000' }, { lightness: 40 }],
  }, {
    featureType: 'all',
    elementType: 'labels.text.stroke',
    stylers: [{ visibility: 'on' }, { color: '#000000' }, { lightness: 16 }],
  }, {
    featureType: 'all',
    elementType: 'labels.icon',
    stylers: [{ visibility: 'off' }],
  }, {
    featureType: 'administrative',
    elementType: 'geometry.fill',
    stylers: [{ color: '#000000' }, { lightness: 20 }],
  }, {
    featureType: 'administrative',
    elementType: 'geometry.stroke',
    stylers: [{ color: '#000000' }, { lightness: 17 }, { weight: 1.2 }],
  }, {
    featureType: 'landscape',
    elementType: 'geometry',
    stylers: [{ color: '#000000' }, { lightness: 20 }],
  }, {
    featureType: 'poi',
    elementType: 'geometry',
    stylers: [{ color: '#000000' }, { lightness: 21 }],
  }, {
    featureType: 'road.highway',
    elementType: 'geometry.fill',
    stylers: [{ color: '#000000' }, { lightness: 17 }],
  }, {
    featureType: 'road.highway',
    elementType: 'geometry.stroke',
    stylers: [{ color: '#000000' }, { lightness: 29 }, { weight: 0.2 }],
  }, {
    featureType: 'road.arterial',
    elementType: 'geometry',
    stylers: [{ color: '#000000' }, { lightness: 18 }],
  }, {
    featureType: 'road.local',
    elementType: 'geometry',
    stylers: [{ color: '#000000' }, { lightness: 16 }],
  }, {
    featureType: 'transit',
    elementType: 'geometry',
    stylers: [{ color: '#000000' }, { lightness: 19 }],
  }, {
    featureType: 'water',
    elementType: 'geometry',
    stylers: [{ color: '#000000' }, { lightness: 17 }],
  }];

  const latitude = 59.902955;
  const longitude = 30.269586;
  const mapOptions = {
    center: new google.maps.LatLng(latitude, longitude),
    zoom: 17,
    panControl: false,
    zoomControl: false,
    mapTypeControl: false,
    streetViewControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scrollwheel: false,
    styles,
  };
  const styledMapType = new google.maps.StyledMapType(styles, { name: 'Styled Map' });
  const map = new google.maps.Map(document.getElementById('maps-section'), mapOptions);
  const marker = new google.maps.Marker({
    map,
    icon: '/wp-content/themes/ilrus/img/design/mark-3.png',
    position: new google.maps.LatLng(latitude, longitude),
    visible: true,
  });
}


@Component
export default class SectionMaps extends Vue {
  settings = Settings;

  created() {
    this.initMap();
  }

  initMap() {
    (window as any)['initMap'] = initMap;
    const script = document.createElement('script');

    script.setAttribute('src', 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCKcH5JjrS-hqL633wnb2T5BiLXE3-zCxc&callback=initMap');
    document.body.appendChild(script);
  }
}
</script>

<template>
  <section class='section section-maps'>
    <v-container>
      <slot>
        <h2 class="title">Остались вопросы?</h2>
        <p class="limit">Вы можете позвонить в офис на номер <span>{{settings.phone}}</span> <br />или приехать к нам лично по адресу {{settings.address}}</p>
      </slot>
      <slot name='top'></slot>
    </v-container>
    <v-container>
      <section id="maps-section">maps</section>
    </v-container>
    <v-container>
      <slot name='bottom'></slot>
    </v-container>
  </section>
</template>

<style lang="scss" scoped>
.section.section-maps {
  padding-top: 30px;
  background-color: #fff;

  h2.title {
    padding-bottom: 35px;
    text-align: left;
  }

  #maps-section {
    background-image: url('../../assets/emploee/D03I8605.jpg');
    background-size: contain;
    height: 400px;
  }

  p {
    font-size: 20px;
    line-height: 24px;

    &.limit {
      max-width: 554px;
    }

    span {
      font-weight: 600;
    }
  }
}
</style>
