<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {IProject} from '@/models/projects.model';
import {ListProjects} from '@/assets/data/listProjects';
import Cn3bieListProjects from '@/components/cn3bie/Cn3bieListProjects.vue';

import projectsServer from '@/services/projects.service';
import {AxiosResponse} from 'axios';
import {IResponseModel} from '@/models';
import {ActionType} from '@/store';

@Component({
  components: {
    Cn3bieListProjects,
  },
})
export default class SectionOtherProjects extends Vue {
  totalCount = 0;
  loading = false;
  loadAll = false;

  get size(): number {
    return this.loadAll ?  -1 : this.$store.state.other.size;
  }

  get otherListProjects() {
    return this.$store.state.other.projects;
  }

  set otherListProjects(projects: IProject[]) {
    this.$store.commit(ActionType.LoadedOtherProjects, { projects, size: this.size });
  }

  mounted() {
    this.getProjects();
  }

  private getProjects() {

    this.loading = true;

    projectsServer.getProjects(1, this.size, 'ASC', 'price')
      .then(res => {
        this.loading = false;

        this.otherListProjects = res.data.data.map(project => {
          if (this.$store.state.bookmark.ids[project.id]) {
            project.metadata.bookmark = true;
          }

          if (this.$store.state.open.ids[project.id]) {
            project.metadata.open = true;
          }

          return project;
        });

      });
  }
}
</script>

<template>
  <section class="section section-other-projects" v-if="otherListProjects.length">
    <v-container>
      <h2 class="title">Другие проекты</h2>

      <cn3bie-list-projects :list="otherListProjects" :is-projects="true"></cn3bie-list-projects>
    </v-container>
  </section>
</template>

<style lang="scss" scoped>
.section.section-other-projects {
  background-color: #f6f6f6;
  padding: 40px 0 10px;

  h2.title {
    margin-bottom: 50px;
  }
}
</style>
