<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

import Cn3bieCarousel from '@/components/cn3bie/Cn3bieCarousel.vue';

import {IPhotootchet} from '@/models/projects.model';

@Component({
  components: {
    Cn3bieCarousel,
  },
})
export default class SectionPhotootchet extends Vue {
  @Prop()
  list!: IPhotootchet[];
}
</script>

<template>
  <section class="section section-photootchet">
    <h2 class="title">Фотоотчет по этому проекту</h2>
    <section
      class="photootchet__item"
      v-for="(item, i) in list"
      :key="'photootchet-' + i"
    >
      <div class="address">
        <router-link :to="'/build/' + item.id">{{item.address}}</router-link>
      </div>

      <cn3bie-carousel class="carousel" :images="item.images" thumbnails="true"></cn3bie-carousel>

      <div class="wr-list">
        <div class="item" v-html="item.list"></div>
      </div>
    </section>
  </section>
</template>

<style lang="scss" scoped>
.section.section-photootchet {
  background-color: transparent !important;
  margin-top: 50px;
  font-size: 17px;
  line-height: 22px;
  padding: 0 !important;

  .title,
  .photootchet__item {
    padding: 65px 75px;
    background-color: #fff;
  }
  .title {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .photootchet__item {
    margin-bottom: 40px;
  }

  .name {
    font-size: 19px;
    line-height: 23px;
  }
  .name,
  .carousel {
    margin-top: 25px;
  }

  .wr-list {
    margin-top: 50px;

    .item {
      font-size: 19px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
}
</style>
