<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

import Cn3bieCharacteristic from '@/components/cn3bie/Cn3bieCharacteristic.vue';
import Cn3bieCharacteristicPlan from '@/components/cn3bie/Cn3bieCharacteristicPlan.vue';
import Cn3bieViewerImages from '@/components/cn3bie/Cn3bieViewerImages.vue';

import {IPlan} from '@/models/projects.model';
import {IImgWithName, IViewer} from '@/models/shared.model';

@Component({
  components: {
    Cn3bieCharacteristic,
    Cn3bieCharacteristicPlan,
    Cn3bieViewerImages,
  },
})
export default class SectionPlans extends Vue {
  @Prop()
  list!: IPlan[];
  @Prop()
  additionals!: IImgWithName[];

  viewer!: IViewer;

  get images(): string[] {
    return this.list.map((item: IPlan) => item.img).filter(Boolean);
  }

  inited(viewer: IViewer) {
    this.viewer = viewer;
  }
}
</script>

<template>
  <section class="section section-plans">
    <cn3bie-viewer-images
      :inited="inited"
      :images="images"
    ></cn3bie-viewer-images>

    <h2 class="title text-xs-left">Планировочные решения</h2>

    <v-layout class="plans__list">
      <v-flex
        class="plans__list__item"
        sm6
        v-for="(item, i) in list"
        :key="'plans' + i"
      >
        <div v-if="item.img">
          <div class="name ">{{item.name}}</div>
          <v-img
            class="img"
            :src="item.img"
            contain
            @click="viewer.show(i)"
          ></v-img>

          <cn3bie-characteristic-plan class="characteristic" :list="item.area"></cn3bie-characteristic-plan>
        </div>
      </v-flex>
    </v-layout>

    <v-layout v-if="additionals.length" d-inline-flex class="additionals">
      <v-flex
        class="additionals__item"
        v-for="(item, i) in additionals"
        :key="'additionals' + i"
      >
        <v-img
          height="60"
          contain
          :src="item.img"
        ></v-img>
        <p class="name">{{item.name}}</p>
      </v-flex>
    </v-layout>
  </section>
</template>

<style lang="scss" scoped>
.section-plans {
  h2.title {
    margin-bottom: 40px;
  }

  .plans__list {
    margin: 0 -10px;

    &__item {
      padding: 0 10px;

      .name {
        // text-align: center;
        font-size: 22px;
        line-height: 24px;
      }

      .img {
        cursor: pointer;
        margin-top: 30px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: rgba(0,0,0,0);
          z-index: 9;
          transition: .3s;
        }

        &:hover:before {
          background: rgba(0,0,0,.3);
        }
      }

      .characteristic {
        margin-top: 40px;
      }
    }
  }

  .additionals {
    margin: 110px -30px 0;

    &__item {
      font-size: 17px;
      line-height: 22px;
      text-align: center;
      max-width: 140px;
      margin: 0 30px;

      .v-image {
        margin: auto;
        height: 60px;
        width: 70px;
      }

      .name {
        margin-top: 30px;
      }
    }
  }
}
</style>
