<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import Cn3bieListProjects from '@/components/cn3bie/Cn3bieListProjects.vue';

import {IProject} from '@/models/projects.model';
import {ListProjects} from '@/assets/data/listProjects';

import {AxiosResponse} from 'axios';
import {IResponseModel} from '@/models/response.model';

import projectsServer from '@/services/projects.service';
import {ActionType} from '@/store';

@Component({
  components: {
    Cn3bieListProjects,
  },
})
export default class SectionPopular extends Vue {
  totalCount = 0;
  loading = false;
  loadAll = false;

  get name(): string {
    const letter = parseInt(('' + this.totalCount).split('').reverse()[0], 10) || 0;

    switch (true) {
      case 2 <= letter && letter <= 4:
        return 'а';
      case 5 <= letter && letter <= 9 || letter === 0:
        return 'ов';
    }

    return '';
  }

  get popularListProjects() {
    return this.$store.state.popular;
  }

  set popularListProjects(projects: IProject[]) {
    this.$store.commit(ActionType.LoadedPopularProjects, projects);
  }

  created() {
    this.loading = true;
    projectsServer.getPopularProjects()
      .then(res => {
        this.totalCount = res.data.totalCount;

        this.loading = false;
        this.popularListProjects = res.data.data;
      });
  }
}
</script>

<template>
  <section class="section popular" v-if="popularListProjects.lenght">
    <v-container>
      <h2 class="title">Популярные проекты</h2>

      <p class="section-desc">Подборка проектов, основана на выборе <br />наших заказчиков</p>

      <cn3bie-list-projects :list="popularListProjects" :is-projects="true"></cn3bie-list-projects>

      <v-layout v-if="totalCount" justify-center>
        <v-btn class="more btn-transparent" block outline large to="/catalog/">Посмотреть еще {{totalCount}} проект{{name}}</v-btn>
      </v-layout>

    </v-container>
  </section>
</template>

<style lang="scss" scoped>
.section.popular {
  background-color: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 30px;

  .section-desc {
    margin-bottom: 60px;
  }

  .more {
    max-width: 510px;
    height: 76px;
  }
}
</style>
