<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {ListArticles} from '@/assets/data/listArticles';
import {IArticle} from '@/models/articles.model';

@Component
export default class SectionServices extends Vue {
  listArticles: IArticle[] = ListArticles;
}
</script>

<template>
  <section class="section services">
    <v-container>
      <h2 class="title text-xs-left">Услуги</h2>
      <p class="section-desc text-xs-left">Ознакомьтесь со всеми нашими услугами</p>
      <v-layout column>
        <v-card
          class="article"
          v-for="(item, i) in listArticles"
          :key="i"
        >
          <v-img
            :src="item.img"
            height="270px"
          >
            <v-container
              fill-height
              fluid
              pa-2
            >
              <v-layout d-inline-flex fill-height justify-center align-center>
                <span class="headline white--text">{{item.title}}</span>
              </v-layout>
            </v-container>
          </v-img>
        </v-card>
      </v-layout>
    </v-container>
  </section>
</template>

<style lang="scss" scoped>
.section.services {
  .section-desc {
    font-size: 24px;
    line-height: 26px;
    margin: 10px 0 55px;
  }

  .article {
    margin-bottom: 65px;
    .headline {
      padding-left: 55px;
      font-size: 40px !important;
      line-height: 44px !important;
    }
  }
}
</style>
