<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import Cn3biePopupImage from '@/components/cn3bie/Cn3biePopupImage.vue';
import Cn3bieViewerImages from '@/components/cn3bie/Cn3bieViewerImages.vue';

import {IReview, IReviewVideo} from '@/models/reviews.model';
import {ListReviews, ListReviewsVideo} from '@/assets/data/listReviews';

import {AxiosResponse} from 'axios';
import {IResponseModel} from '@/models/response.model';

import responsesServer from '@/services/responses.service';
import {ActionType} from '@/store';
import {IViewer} from '@/models';

@Component({
  components: {
    Cn3biePopupImage,
    Cn3bieViewerImages,
  },
})
export default class SectionTalkAbout extends Vue {
  @Prop() isReviewPage!: boolean;

  listVideo: IReviewVideo[] = [];
  totalCount = ListReviews.length;
  loading = false;

  viewer!: IViewer;

  get listReview(): IReview[] {
    return this.$store.state.reviews;
  }

  set listReview(list: IReview[]) {
    this.$store.commit(ActionType.LoadedReviews, list);
  }

  get images(): string[] {
    return this.listReview.map((item: IReview) => item.imgFull);
  }

  constructor() {
    super();

    responsesServer.getResponss(1, this.isReviewPage ? -1 : 3)
      .then(res => {
        this.totalCount = res.data.totalCount - res.data.data.length;

        this.loading = false;

        this.listReview = res.data.data;
      });
  }

  playVideo(item: IReviewVideo) {
    item.play = !item.play;
  }

  inited(viewer: IViewer) {
    this.viewer = viewer;
  }
}
</script>

<template>
  <section class="section talk-about">
    <cn3bie-viewer-images
      :inited="inited"
      :images="images"
    ></cn3bie-viewer-images>

    <v-container>
      <h2 class="title">Посмотрите, что говорят <br />о нас клиенты</h2>

      <v-layout wrap justify-space-between>
        <v-flex
            class="reviews__item"
            xs4
            v-for="(item, i) in listReview"
            :key="'d' + i"
          >
          <v-card flat class="reviews__item-card">
            <v-card-title>{{item.name}}</v-card-title>

            <v-layout>
              <v-flex>
                <v-card-text>{{item.text}}</v-card-text>
              </v-flex>

              <v-flex class="wr-img" @click="viewer.show(i)">
                <div class="wr-wr">
                  <v-img
                    :src="item.img"
                    :aspect-ratio="8/10"
                  ></v-img>
                </div>

                <p class="text-xs-center zoom">Увеличить</p>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout wrap justify-space-between>
        <v-flex
          class="video__item"
          xs12
          sm6
          v-for="(item, i) in listVideo"
          :key="i"
        >
          <v-card
            flat
            ripple
          >
            <v-img
              :aspect-ratio="64/36"
              :src="item.img"
              v-if="!item.play"
            ></v-img>

            <v-responsive
              :aspect-ratio="64/36"
              v-if="item.play"
            >
              <youtube-media
                class="wr-video"
                :video-id="'pXRviuL6vMY'"
                player-width="100%"
                player-height="100%"
                :player-vars="{
                  autoplay: 1,
                  controls: 1,
                  modestbranding: 1,
                  showinfo: 0,
                  rel: 0,
                }"
              ></youtube-media>
            </v-responsive>

            <v-card-title
              class="wr-posa"
              color="white"
              v-if="!item.play"
            >
              <v-layout column>
                <v-flex>
                  <v-layout align-center>
                    <div class="icon-play" @click="playVideo(item)">
                      <svg width="76" height="76" viewBox="0 0 76 76" preserveAspectRatio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M53.8230453,36.4639805 L32.3168724,24.3186813 C31.5322359,23.8937729 30.7475995,23.8937729 30.0342936,24.3186813 C29.3209877,24.7435897 29,25.5225885 29,26.3015873 L29,50.6630037 C29,51.4420024 29.4279835,52.2210012 30.0342936,52.6459096 C30.3909465,52.8229548 30.81893,53 31.2469136,53 C31.6748971,53 32.0315501,52.8229548 32.2812071,52.6459096 L53.78738,40.5006105 C54.5720165,40.0757021 55,39.2967033 55,38.5177045 C55,37.7387057 54.6076818,36.995116 53.8230453,36.4639805 Z" stroke="none"></path></svg>
                    </div>
                    <span class="time">{{item.time}}</span>
                  </v-layout>
                </v-flex>
                <v-flex>{{item.name}}</v-flex>
              </v-layout>

            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout text-center v-if="!isReviewPage">
        <v-btn class="btn-transparent" outline block large to="/reviews/">Посмотреть все отзывы</v-btn>
      </v-layout>
    </v-container>
  </section>
</template>

<style lang="scss">
.talk-about {
  padding-bottom: 36px;

  h2.title {
    margin: 60px 0;
  }

  .reviews__item {
    margin-bottom: 90px;

    .v-card {
      max-width: 310px;
      background: transparent;
    }

    .v-card__title {
      font-size: 26px;
      line-height: 28px;
      padding: 20px 0 15px;
      min-height: 50px;
      box-sizing: content-box;
      align-items: flex-start;
      font-weight: 500;
    }

    .v-card__text {
      padding: 0;
      font-size: 16px;
      line-height: 19px;
    }

    .wr-img {
      flex-basis: 80px;
      width: 80px;
      min-width: 80px;
      margin-left: 20px;
      box-sizing: content-box;

      .wr-wr {
        cursor: pointer;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: rgba(0,0,0,0);
          z-index: 9;
          transition: .3s;
        }

        &:hover:before {
          background: rgba(0,0,0,.3);
        }
      }

      .zoom {
        cursor: pointer;
        margin: 5px 0 0;
        font-size: 13.36px;
        line-height: 17px;
      }
    }
  }

  .video__item {
    max-width: 575px;
    position: relative;

    .v-card>:first-child:not(.v-btn):not(.v-chip) {
      height: 100%;
    }

    .wr-video {
      width: 100%;
      height: 100%;
      max-width: 100%;
      overflow: hidden;
    }

    .wr-posa {
      background-color: rgba(0,0,0,.3);
      position: absolute;
      color: #fff;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      align-items: flex-end;
      padding: 30px;
      font-size: 25px;
      line-height: 27px;
      font-weight: 300;


      .flex {
        margin-top: 30px;
        max-width: 350px;
      }

      .icon-play {
        margin-right: 10px;
        padding: 0;
        border: none;
        cursor: pointer;
        transform: translateZ(0);
        background: #fff;
        border-radius: 50%;
        width: 76px;
        height: 76px;
        will-change: transform;
        transition: background .35s, transform .35s;
      }

      &:hover .icon-play{
        transform: scale(1.079);
      }

      .time {
        font-size: 18.75px;
        line-height: 19px;
      }
    }
  }

  .v-btn {
    margin: 0 auto 0;
    max-width: 510px;
    height: 75px;
  }
}
</style>
