<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {ListSocialNetwork, IItemSocialNetworkl} from '@/assets/data/listSocialNetwork';

@Component
export default class SectionThanks extends Vue {
  img: string = require('@/assets/bg/square_magazine_mockup.png');
  private listSocialNetwork: IItemSocialNetworkl[] = ListSocialNetwork;

  submit() {
    if (true) {
      this.img = this.img;
    }
  }
}
</script>

<template>
  <section class="section thanks">
    <v-container fill-height>
      <v-layout justify-space-between>
        <v-flex sm5 class="images-emploee">
          <div class="wr-name">
            <div class="name">С уважением, основатель и <br />руководитель Илрусстрой <br /><span>Станислав</span></div>
          </div>
        </v-flex>
        <v-layout sm7 class="form-right" justify-center column>
          <h2 class="title">Спасибо, что обратились <br /> <span>в нашу строительную компанию</span></h2>

          <div class="section-desc">В знак нашей благодарности мы подготовили для вас подарок</div>

          <div class="section-desc bold">Куда вам отправить каталог <br />с проектами домов?</div>

          <div class="wr-block">
            <v-layout class="wr-images">
              <v-flex sm6>
                <v-img
                  :src="img"
                ></v-img>
              </v-flex>
              <v-flex sm6 class="text">В каталоге мы собрали <br />самые интересные <br />проекты домов</v-flex>
            </v-layout>
<!--

-->
            <v-layout>
              <v-flex sm6>
                <v-btn
                  class="form__submit"
                  color="primary"
                  large
                  block
                  @click="submit"
                >Отправить каталог</v-btn>
              </v-flex>
            </v-layout>
          </div>
          <div class="wr-social-networks">
            <div class="text">Подпишитесь на нас в социальных сетях. <br />Прочитайте отзывы и узнайте больше о нашей компании:</div>
            <v-layout class="list-social-network">
              <v-flex v-for="item in listSocialNetwork" :key="item.id">
                <v-icon v-html="item.icon" color="primary" size="17"></v-icon>
                <v-btn flat :href="item.link">{{item.name}}</v-btn>
              </v-flex>
            </v-layout>
          </div>
        </v-layout>
      </v-layout>
    </v-container>
  </section>
</template>

<style lang="scss" scoped>
.section.thanks {
  background-color: #fff;

  .container {
    padding-bottom: 0;
    height: 100vh;

    .images-emploee {
      position: relative;
      background: transparent url('../../assets/emploee/D03I8545.png') center bottom no-repeat;
      background-size: 134%;

      .wr-name {
        position: absolute;
        padding: 20px 40px;
        background-color: #f3f3f3;
        right: 30px;
        bottom: 30px;
        height: 110px;
        width: 300px;

        .name {
          font-size: 16px;
          line-height: 25px;

          span {
            font-weight: 600;
          }
        }
      }
    }

    .title {
      span {
        font-weight: 300;
      }
    }

    .title,
    .section-desc {
      text-align: left;
    }

    .text--gray {
      margin-top: 30px;
      color: #bbb;
    }

    .section-desc.bold {
      margin-top: 50px;
      font-size: 25px;
      line-height: 28px;
      color: #000;
    }

    h2.title {
      padding-bottom: 30px;
      font-size: 35px;
      line-height: 40px;
    }

    .form-right {
      position: relative;

      .wr-block {
        margin-top: 40px;
        max-width: 520px;

        .wr-images {
          .text {
            padding-left: 30px;
            padding-top: 20px;
            font-size: 17px;
            line-height: 19px;
          }
        }

        .form__submit {
          margin-top: 40px;
          height: 60px;
        }
      }
      .wr-social-networks {
        position: absolute;
        bottom: 30px;

        .v-btn {
          padding-left: 0;
// TODO: Исправить отступ у Одноклассников
          .v-btn__content {
            text-align: left;
            justify-content: flex-start;
          }
        }

        .list-social-network {
          .flex {
            flex-grow: initial;
          }
        }
      }
    }
  }
}
</style>
