<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

import Cn3biePopup from '@/components/cn3bie/Cn3biePopup.vue';

import {IPerson} from '@/models/personal.model';

import listPerson from '@/assets/data/listPerson';

import {TypeConstruction, IComplect} from '@/models/projects.model';
import {ActionType} from '@/store';
import {IImgWithName} from '@/models';
import {complectAdditionals} from '@/assets/data/listProjects';

@Component({
  components: {
    Cn3biePopup,
  },
})
export default class SectionTypeConstruction extends Vue {
  @Prop()
  complect!: IComplect;
  @Prop()
  price!: number;

  additionals: IImgWithName[] = complectAdditionals;
  current: TypeConstruction = TypeConstruction.box;

  typeConstructionBox = TypeConstruction.box;

  get listEmploees() {
    return this.$store.state.emploees.managers;
  }

  get activeEmploee(): IPerson {
    return this.$store.state.emploees.active;
  }

  set activeEmploee(pers: IPerson) {
    this.$store.commit(ActionType.ChangePerson, pers);
  }

  get indexActiveEmploee(): number {
    return this.$store.state.emploees.index;
  }

  set indexActiveEmploee(index: number) {
    this.activeEmploee = this.listEmploees[index];
  }

  get currentMatterial() {
    return this.$store.state.catalog.currentMatterial;
  }

  set currentMatterial(type: string) {
    this.$store.commit(ActionType.ChangeMatterial, type);
  }
}
</script>

<template>
  <section class="section section-type-construction">
    <div class="wr-control">
      <v-tabs v-model="current">
        <v-tab
          v-for="(text, key) in complect"
          :key="key"
          :href="`#${key}`"
        >
          {{key | ComplectName}}
        </v-tab>
      </v-tabs>
    </div>

    <div class="wr-tabs">
      <v-tabs-items v-model="current">
        <v-tab-item
          v-for="(text, key) in complect"
          :key="'tab-' + key"
          :value="key"
        >
          <h2 class="title text-xs-left">{{key | ComplectName}}</h2>

          <div class="text" v-html="text"></div>
        </v-tab-item>
      </v-tabs-items>

      <h2 class="title text-xs-left">В стоимость входит</h2>

      <v-layout
        class="cards"
        d-inline-flex wrap>
        <v-flex
          class="cards__item"
          v-for="(card, j) in additionals"
          :key="'tabs' + '-img-' + j"
        >
          <v-img
            :src="card.img"
            height="60"
            contain
          ></v-img>
          <span>{{card.name}}</span>
        </v-flex>
      </v-layout>
    </div>

    <div class="text-xs-right">
      <span v-if="current === typeConstructionBox" class="price">{{ price[currentMatterial] | FormatPrice }}</span>
      <span v-if="current !== typeConstructionBox" class="price">Стоимость по запросу</span>

      <cn3bie-popup
        :label="'Получить консультацию по проекту'"
        :index="indexActiveEmploee"
      ></cn3bie-popup>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.section-type-construction {
  background-color: #fff;
  padding: 65px 0 !important;
  margin-top: 50px;
  font-size: 17px;
  line-height: 22px;

  h2.title {
    font-weight: 400 !important;
    margin: 40px 0;
  }

  .wr-control {
    padding: 0 75px;
    border-bottom: 1px solid #f3f3f3;
  }

  .wr-tabs {
    padding: 0 75px;

    .text {
      font-size: 19px;
      line-height: 22px;
      font-weight: normal;
    }
  }


  .cards {
    max-width: 994px;

    .cards__item {
      max-width: 205px;
      margin-bottom: 100px;
      margin-right: 100px;
      text-align: center;

      span {
        font-size: 19px;
        line-height: 22px;
        margin-top: 25px;
        display: inline-block;
      }
    }
  }

  .text-xs-right {
    padding: 0 75px;
  }

  .price {
    font-size: 45px;
    line-height: 75px;
    vertical-align: middle;
    margin-right: 30px;
    font-weight: 500;
  }
}
</style>
