<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {IUsefulArticle} from '@/models/useful-articles.model';
import {ListUsefulArticle} from '@/assets/data/listUsefulArticle';

import {AxiosResponse} from 'axios';
import {IResponseModel} from '@/models/response.model';

import newsServer from '@/services/news.service';
import {IArticle} from '@/models';
import {ActionType} from '@/store';

@Component
export default class SectionUsefulArticles extends Vue {
  loading = false;
  order = 'ASC';
  orderby = 'price';

  mounted() {
    this.getProjects();
  }

  get list() {
    return this.$store.state.news;
  }

  set list(articles: IUsefulArticle[]) {
    this.$store.commit(ActionType.LoadedNews, articles);
  }

  private getProjects(
    page: number = 1,
    size: number = 4,
    order: string = this.order,
    orderby: string = this.orderby,
  ) {
    this.order = order;
    this.orderby = orderby;

    newsServer.getNews(page, size, order, orderby)
      .then(res => {
        this.list = res.data.data;
      });
  }
}
</script>

<template>
  <section class="section useful-articles">
    <v-container>
      <h2 class="title">Полезные статьи <br />о строительстве</h2>

      <v-layout wrap>
        <v-flex xs12 sm6 md3 v-for="item in list" :key="item.id">
          <v-card
            flat
            ripple
            :to="item.url"
          >
            <v-img
              :aspect-ratio="18/10"
              :src="item.img"
            ></v-img>
            <v-card-title>{{item.name}}</v-card-title>
            <v-card-text>{{item.text}}</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<style lang="scss">
.useful-articles {
  margin-bottom: 40px;

  h2.title {
    max-width: 430px;
    margin: 0 auto 60px;
  }

  .v-card__title {
    padding-left: 0;
    font-size: 20px;
    line-height: 22px;
    color: #000;
    font-weight: 500;
  }

  .v-card__text {
    padding: 0;
    font-size: 15px;
    line-height: 17px;
    color: #5f5f5f;
  }

  .layout {
    margin: {
      right: -10px;
      left: -10px;
    };

    .flex {
      margin-bottom: 10px;
      padding: 0 10px;
    }
  }

  .v-btn {
    margin: auto;
  }
}
</style>
