<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import SectionTalkAbout from '@/components/section/TalkAbout.vue';
import SectionUsefulArticles from '@/components/section/UsefulArticles.vue';
import SectionMaps from '@/components/section/Maps.vue';

@Component({
  components: {
    SectionTalkAbout,
    SectionUsefulArticles,
    SectionMaps,
  },
})
export default class News extends Vue { }
</script>

<template>
  <article class="page news">
    <section-useful-articles></section-useful-articles>

    <section-maps></section-maps>
  </article>
</template>
