<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import Cn3bieVueTextInput from '@/components/cn3bie/form/Cn3bieVueTextInput.vue';
import SectionMaps from '@/components/section/Maps.vue';

import settingsServer from '@/services/common.service';
import Settings from '@/assets/data/settings';
import {AxiosResponse} from 'axios';
import {IResponseError} from '@/models';

@Component({
  components: {
    Cn3bieVueTextInput,
    SectionMaps,
  },
})
export default class Contacts extends Vue {
  valid = true;
  phone = '';
  settings = Settings;
  error: IResponseError = {};

  submit() {
    if (this.valid) {
      settingsServer.mail({
        events: 'feedback-contacts',
        phone: this.phone,
      }).then((res: AxiosResponse<string>) => {
        // console.log()
      }).catch((error: IResponseError) => {
        Object.assign(this.error, error);
      });
    }
  }
}
</script>

<template>
  <article class="page contacts">
    <section-maps>
      <template>
        <h2 class="title">Контакты</h2>
        <v-layout>
          <v-flex md4>
            <p class="text">По всем вопросам</p>
            <p class="text phone">{{settings.phone}}</p>
          </v-flex>
          <v-flex md4>
            <p class="text">{{settings.address}} <br />{{settings.time}}</p>
          </v-flex>
          <v-flex md4>
            <p class="text email">{{settings.email}}</p>
          </v-flex>
        </v-layout>
      </template>
    </section-maps>

    <v-container class="wrwr">
      <h2 class="title">Связаться с нами</h2>

      <p class="section-desc">Оставьте свой номер телефона, чтобы мы могли перезвонить вам</p>

      <v-form ref="form" v-model="valid" lazy-validation>
        <cn3bie-vue-text-input
          label="Телефон"
          v-model="phone"
          height="66"
          is-phone="true"
          placeholder="+7 (___) __-__-__"
        ></cn3bie-vue-text-input>

        <v-btn
          class="call-me"
          color="primary"
          large
          :disabled="!valid"
          @click="submit"
        >Перезвоните мне</v-btn>
      </v-form>
    </v-container>
  </article>
</template>

<style lang="scss">
.page.contacts {

  .text {
    font-size: 17px;
    line-height: 19px;
  }

  .phone {
    font-size: 22px !important;
    line-height: 25px !important;
  }

  .wrwr {
    h2.title {
      text-align: left;
    }

    .section-desc {
      margin-top: 35px;
      text-align: left;
    }

    .cn3bie-vue-text-input.v-input input {
      font-size: 66px;
      max-height: 66px;
      line-height: 66px;
    }
  }

  .v-text-field {
    margin-top: 50px;
  }

  .call-me {
    margin-top: 70px;
    height: 60px;
    padding: 0 70px;
  }
}
</style>
