.filter__item {
  .theme--light.v-input--slider {
    .v-slider__track,
    .v-slider__track-fill {
      background-color: #dadada;

      &.primary {
        background-color: #606060 !important;
      }
    }
  }

  .v-slider__thumb-container:before {
    left: -14px;
  }

  .v-slider__track__container {
    height: 10px;
  }

  .v-slider__thumb {
    height: 28px;
    width: 28px;
    background-color: #fff !important;
    box-shadow: 0 5px 11px rgba(0, 0, 0, .37);
    cursor: pointer;
  }

  .v-slider__track,
  .v-slider__track-fill {
    height: 7px;
    border-radius: 5px;
    top: 2px;
  }
}