
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {AxiosResponse} from 'axios';

import Cn3bieListProjects from '@/components/cn3bie/Cn3bieListProjects.vue';

import {IProject, IResponseModel} from '@/models';
import {ListProjects} from '@/assets/data/listProjects';
import projectsService from '@/services/projects.service';
import {ActionType} from '@/store';


@Component({
  components: {
    Cn3bieListProjects,
  },
})
export default class Catalog extends Vue {
  get listProjects(): IProject[] {
    return this.$store.state.bookmark.projects;
  }

  set listProjects(projects: IProject[]) {
    this.$store.commit(ActionType.LoadedBookmarkProjects, projects);
  }

  mounted() {
    projectsService.getProjectsByIds(this.$store.state.bookmark.projects.map((project: IProject) => project.id))
      .then(res => this.listProjects = res.data.data);
  }
}
</script>

<template>
  <article class="page article-catalog">
    <v-container class="wr-container">
      <h2 class="title title-catalog">Избранное</h2>

      <div
        class="wr-not-projects"
        v-if="!listProjects.length"
      >
        <v-layout justify-space-between>
          <v-flex class="text-desc">
            В избранном нет проектов <br />
            Начните с подбора проектов
          </v-flex>

          <v-flex d-flex align-end>
            <v-btn large color="primary" depressed to="/catalog">Подобрать проект</v-btn>
          </v-flex>
        </v-layout>
      </div>

      <cn3bie-list-projects
        v-if="listProjects.length"
        :list="listProjects"
        :is-projects="true"
      ></cn3bie-list-projects>
    </v-container>
  </article>
</template>

<style lang="scss">
.v-list__tile.v-list__tile--link {
  .text--gray {
    color: #d7d7d7;
    margin-right: 5px;
  }
}

.lowercase {
  text-transform: lowercase;
}

.wr-not-projects {
  min-height: 500px;
  padding-top: 1px;
  max-width: 700px;
  margin-top: 50px;

  .text-desc {
    font-size: 34px;
    line-height: 1.3;
  }
}

.page.article-catalog {
  background-color: #f3f3f3;

  .title-catalog {
    margin-top: 45px;
    text-align: left;
  }

  .section-desc {
    text-align: left;

    &.first-line {
      margin-bottom: 0;
    }
  }

  .wr-right {
    width: 100%;
    max-width: 950px;
  }
}
</style>
