<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import Cn3bieCarouselEmploee from '@/components/cn3bie/Cn3bieCarouselEmploee.vue';
import Cn3bieCharacteristic from '@/components/cn3bie/Cn3bieCharacteristic.vue';
import Cn3bieIcon from '@/components/cn3bie/Cn3bieIcon.vue';
import Cn3biePopup from '@/components/cn3bie/Cn3biePopup.vue';
import Cn3bieViewerImages from '@/components/cn3bie/Cn3bieViewerImages.vue';

import {
  IProject,
  IPlan,
TypeMaterial,
} from '@/models/projects.model';
import {IPerson} from '@/models/personal.model';
import listPerson from '@/assets/data/listPerson';
import {ActionType} from '@/store';
import {ListPriceByTypeMaterial} from '@/assets/data/listProjects';
import {IViewer} from '@/models';

interface ISnackbar {
  status: boolean;
  name: string;
}

@Component({
  components: {
    Cn3bieCarouselEmploee,
    Cn3bieCharacteristic,
    Cn3bieIcon,
    Cn3biePopup,
    Cn3bieViewerImages,
  },
})
export default class Cn3bieListProjects extends Vue {
  @Prop()
  list!: IProject[];
  @Prop()
  isProjects!: boolean;
  @Prop()
  asLine!: boolean;

  viewer!: IViewer;

  snackbars: IProject[] = [];
  color = 'primary';
  timeout = 6000;

  get typeMaterial(): TypeMaterial {
    return this.$store.state.catalog.currentMatterial;
  }

  get listEmploees() {
    return this.$store.state.emploees.managers;
  }

  addSnackbar(project: IProject) {
    if (project.metadata.bookmark) {
      return;
    }

    project.metadata.snackbar.status = !project.metadata.bookmark;

    this.snackbars.push(project);

    project.metadata.snackbar.timeout = setTimeout(() => this.removeSnackbar(project), this.timeout);
  }

  removeSnackbar(project: IProject) {
    project.metadata.snackbar.status = false;
    this.snackbars.splice(this.snackbars.findIndex((proj: IProject) => proj.id === project.id), 1);

    if (project.metadata.snackbar.timeout) {
      clearTimeout(project.metadata.snackbar.timeout);
      delete project.metadata.snackbar.timeout;
    }
  }

  toggleBookmark(project: IProject) {
    if (event) {
      event.stopPropagation();
    }

    if (project.metadata.bookmark) {
      this.removeSnackbar(project);
    }

    this.addSnackbar(project);
    this.$store.dispatch(ActionType.ToggleBookmark, project);
  }

  toggleViewDetail(project: IProject) {
    this.$set(project.metadata, 'open', !project.metadata.open);
    this.$store.commit((project.metadata.open ? 'add' : 'remove' ) + 'Open', project);
  }

  clickCard(project: IProject) {
    if(this.asLine) {
      this.toggleViewDetail(project);
    } else {
      this.moveToProject(project);
    }
  }

  moveToProject(project: IProject) {
    this.$store.commit(ActionType.SelectedProject, project);
    this.$router.push(project.url);
  }

  moveTo(i: number, project: IProject) {
    project.metadata.index = i;
  }

  images(project: IProject): string[] {
    return project.plans.map((item: IPlan) => item.img).filter(Boolean);
  }

  inited(viewer: IViewer) {
    this.viewer = viewer;
  }
}
</script>

<template>
<div>
  <div class="wr-snackbar posf">
    <v-snackbar
      class="snackbar__item"
      v-for="(project, i) in snackbars"
      :key="i"
      v-model="project.metadata.snackbar.status"
      :color="color"
      :timeout="timeout"
      :right="true"
      :top="true"
    >
      Проект "{{ project.name }}" добавлен в

      <v-btn class="btn-move" dark flat :to="'/bookmark'">Избранное</v-btn>

      <v-btn class="btn-close" dark flat @click="removeSnackbar(project)">Закрыть</v-btn>
    </v-snackbar>
  </div>

  <v-layout row wrap class="project__list">
    <v-flex
      class="wr-project__item"
      :class="{ line: asLine }"
      v-for="project in list"
      :key="project.id"
    >
      <v-card
        class="project__item"
        flat
      >
        <v-layout
          @click="clickCard(project)"
          class="v-card__characteristic"
        >
          <v-img
            :src="project.thumbnail"
            :aspect-ratio="1"
            cover
            max-height="200"
          ></v-img>
          <div class="wr-text">
            <v-card-title>“{{project.name}}”</v-card-title>

            <v-card-text>
              <cn3bie-characteristic :project="project" :as-line="asLine"></cn3bie-characteristic>

              <span v-if="!isProjects" class="address">{{project.address}}</span>
            </v-card-text>
          </div>

          <v-card-actions v-if="isProjects" class="card-actions">
            <v-layout column fill-height>
              <v-layout class="wr-price">
                <div class="price">
                  <span>{{project.price[typeMaterial] | FormatPrice}}</span>
                </div>

                <v-btn class="bookmark" flat color="primary" icon @click.prevent="toggleBookmark(project, $event)">
                  <cn3bie-icon icon="bookmark" :state="project.metadata.bookmark"></cn3bie-icon>
                </v-btn>
              </v-layout>

              <v-flex class="wr-arrow" v-if="asLine">
                <v-btn class="arrow" flat color="primary" icon>
                  <cn3bie-icon icon="down" :state="project.metadata.open"></cn3bie-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card-actions>
        </v-layout>

        <div v-if="asLine && project.metadata.open" class="wr-plans">
          <cn3bie-viewer-images
            :inited="function(viewer){
              project.viewer = viewer;
            }"
            :images="images(project)"
          ></cn3bie-viewer-images>

          <v-layout wrap justify-space-between>
            <v-flex xs7>
              <v-layout wrap>
                <v-flex
                  class="plans__list__item"
                  xs6
                  v-for="(plan, i) in project.plans"
                  :key="'plans' + i"
                >
                  <div v-if="plan.img">
                    <v-img
                      :aspect-ratio="1"
                      class="img"
                      :src="plan.img"
                      contain
                      max-height="270"
                      @click="project.viewer.show(i)"
                    ></v-img>

                    <div class="name text-xs-center">{{plan.name}}</div>
                  </div>
                </v-flex>
              </v-layout>
            </v-flex>

            <v-flex xs5>
              <div class="wr-emploee">
                <cn3bie-carousel-emploee
                  class="carousel__list-emploee"
                  height="70"
                  desc="true"
                  :index="project.metadata.index"
                  @move-to="moveTo($event, project)"
                ></cn3bie-carousel-emploee>

                <cn3bie-popup
                  block="block"
                  :label="'Получить консультацию<br /> у ' + listEmploees[project.metadata.index].text"
                  :index="project.metadata.index"
                  @move-to="moveTo($event, project)"
                ></cn3bie-popup>

                <v-btn
                  class="more btn-transparent"
                  large
                  outline
                  color="primary"
                  block
                  depressed
                  @click="moveToProject(project)"
                >Посмотреть проект</v-btn>
              </div>
            </v-flex>
          </v-layout>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</div>
</template>

<style lang="scss">
$padding: 32.5px;

.wr-snackbar {
  position: fixed;
  top: 0;
  right: 24px;
  z-index: 20;

  .snackbar__item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;

    .btn-move {
      margin: 0;
      .v-btn__content {
        text-decoration: underline;
      }
    }

    .btn-close {
        margin-left: 20px;
    }
  }
}

.layout.row.wrap {
  margin: -$padding/2;
  margin-top: 0;

  .wr-project__item {
    padding: 0 $padding/2;
    min-width: 295px;
    max-width: 295px + $padding;
    margin-bottom: $padding;

    .v-card {
      width: 295px;
      padding-bottom: 20px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 10px 40px 0 rgba(45, 45, 52, .5);
      }

      .v-card__characteristic {
        flex-direction: column;

        .wr-text {
          .v-card__title {
            padding: 30px 10px 15px 30px;
            font-size: 22px;
            line-height: 22px;
            font-weight: 500;
          }

          .v-card__text {
            padding: 0 30px 0;
          }
        }

        .v-card__actions {
          padding: 0 30px;
          display: flex;
          justify-content: space-between;

          .v-btn {
            height: 34px;
          }

          .price {
            display: inline-flex;
            padding: 0;
            font-size: 22px;
            line-height: 27px;
            font-weight: 500;
            padding-right: 10px;

            .v-icon {
              vertical-align: middle;
              margin-left: 10px;
            }
          }

          .wr-price {
            justify-content: space-between;
          }

          .v-btn.arrow,
          .v-btn.bookmark {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            padding: 4px;
            margin: -4px;

            .v-btn--active:before,
            &:focus:before,
            &:hover:before {
              background-color: transparent;
            }
          }
        }

        .wr-arrow {
          cursor: pointer;
          text-align: right;
          max-height: 40px;
        }
      }
    }

    &.line {
      width: 100%;
      max-width: 100%;

      .v-card {
        width: 100%;
        max-width: 100%;
        padding-bottom: 0;

        .v-card__characteristic {
          padding: 20px;
          display: flex;
          flex-direction: row;

          .v-card__title {
            padding-top: 0;
          }

          .v-responsive.v-image {
            width: 150px;
            height: 100px;
          }

          .v-card__text {
            padding-right: 0;

            .cn3bie-characteristic {
              display: flex;
              flex-wrap: wrap;

              .cn3bie-characteristic__item {
                margin-right: 50px;

                &:last-of-type {
                  margin: 0;
                }
              }
            }
          }

          .v-card__actions.card-actions {
            width: 360px;
            align-items: flex-start;
            padding-right: 0;
            box-sizing: content-box;

            .wr-price {
              justify-content: flex-end;
            }

            .v-btn.bookmark {
              margin-top: -6px;
            }
          }
        }

        .wr-plans {
          padding: 20px 0;
          display: flex;
          flex-direction: row;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            border-top: 1px solid #f3f3f3;
          }

          .flex {
            padding: 0 15px;

            .name  {
              margin-top: 10px;
              font-size: 16px;
              font-weight: 300;
            }

            .wr-emploee {
              max-width: 250px;
              margin: auto;

              .more  {
                height: 50px;
              }

              .v-btn__content {
                font-size: 14px;
              }
            }
          }
        }

        .wr-cn3bie-carousel .position {
          font-size: 16px;
          margin-bottom: 15px;
        }

        .v-dialog__container {
          .v-btn {
            font-size: 14px;
          }
        }
      }
    }
  }
}
</style>
