<script lang="ts">
import {Component, Prop, Emit, Vue} from 'vue-property-decorator';

import Cn3bieCarouselEmploee from '@/components/cn3bie/Cn3bieCarouselEmploee.vue';
import Cn3bieVueTextInput from '@/components/cn3bie/form/Cn3bieVueTextInput.vue';
import Cn3bieAgreement from '@/components/cn3bie/Cn3bieAgreement.vue';

import Settings from '@/assets/data/settings';
import settingsServer from '@/services/common.service';
import {IProject, TypeMaterial} from '@/models/projects.model';
import {IPerson} from '@/models/personal.model';
import listPerson from '@/assets/data/listPerson';
import {ActionType} from '@/store';
import {IResponseError} from '@/models';
import {AxiosResponse} from 'axios';

@Component({
  components: {
    Cn3bieCarouselEmploee,
    Cn3bieVueTextInput,
    Cn3bieAgreement,
  },
})
export default class Cn3biePopup extends Vue {
  @Prop()
  label!: string;
  @Prop()
  height!: string | number;
  @Prop()
  outline!: boolean;
  @Prop()
  block!: boolean;
  @Prop()
  index!: number;
  @Prop()
  padding!: number;

  dialog = false;
  notifications = false;
  sound = true;
  widgets = false;

  valid = true;
  phone = '';
  error: IResponseError = {};

  get listEmploees(): IPerson[] {
    return this.$store.state.emploees.managers;
  }

  @Emit()
  moveTo(i: number): number {
    this.$store.commit(ActionType.ChangePerson, this.listEmploees[i]);

    return i;
  }

  submit() {
    if (this.valid) {
      settingsServer.mail({
        events: 'consultation',
        firstname: this.listEmploees[this.index].name,
        phone: this.phone,
      }).then((res: AxiosResponse<string>) => {
        // console.log()
      }).catch((error: IResponseError) => {
        Object.assign(this.error, error);
      });
    }
  }
}
</script>

<template>
  <v-dialog
    class="wr-dialog"
    v-bind:class="{ 'block': block }"
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-transition"
  >
    <v-btn
      v-bind:class="{ 'btn-transparent': outline }"
      :outline="!!outline"
      slot="activator"
      color="primary"
      block
      v-html="label"
    ></v-btn>

    <v-card class="cn3bie-popup" v-if="listEmploees[index]">
      <v-btn class="btn-close" icon @click.native="dialog = false">
        <v-icon size="50">close</v-icon>
      </v-btn>

      <v-container>
        <v-layout justify-space-between fill-height>
          <v-flex sm6 class="images-emploee" v-bind:style="{
            backgroundImage: 'url(' + listEmploees[index].img + ')'
          }"></v-flex>
          <v-flex sm6 class="form-right">
            <v-layout column justify-center fill-height>
              <v-spacer></v-spacer>
              <v-flex>
                <h2 class="title">{{listEmploees[index].name}}</h2>
                <div class="section-desc" v-html="listEmploees[index].position.replace('<br />', '')"></div>

                <div class="section-text">Здравствуйте, меня зовут {{listEmploees[index].name}}. Я ваш личный помощник по миру стройки. Помогу с подбором проекта, расположением дома на участке и проконсультирую Вас по вопросу строительства Вашего дома.</div>

                <v-form ref="form" v-model="valid" lazy-validation>
                  <cn3bie-vue-text-input
                    label="Телефон"
                    v-model="phone"
                    is-phone="true"
                    placeholder="+7 (___) ___-__-__"
                    height="50"
                  ></cn3bie-vue-text-input>

                  <div class="wr-form__submit">
                    <v-btn
                      class="form__submit"
                      v-bind:style="{
                        padding: '0 '+ (padding || 30) + 'px'
                      }"
                      color="primary"
                      large
                      @click="submit"
                      v-html="label.replace('<br />', '')"
                    ></v-btn>

                    <cn3bie-agreement></cn3bie-agreement>
                  </div>
                </v-form>

                <cn3bie-carousel-emploee
                  v-if="dialog"
                  class="swiper__list-emploee"
                  :count="listEmploees.length"
                  :index="index"
                  @move-to="moveTo"
                ></cn3bie-carousel-emploee>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<style lang="scss">
.wr-dialog {
  .v-btn {
    margin-top: 10px;
    height: 70px;
    padding: 0 50px;
    display: inline-block;
    line-height: 1.3;
  }

  &.block {
    width: 100%;

    .v-btn {
      padding: 0;
      height: 50px;
    }
  }
}

.cn3bie-popup {
  position: relative;
  padding-top: 0;

  .btn-close {
    z-index: 9999;
    position: absolute;
    top: 30px;
    right: 30px;
    width: auto;
    height: auto;
  }

  .container {
    padding-bottom: 0;
    height: 100vh;

    .images-emploee {
      position: relative;
      background: transparent url('../../assets/emploee/D03I8582.png') center bottom no-repeat;
      background-size: contain;
    }

    .title,
    .section-desc {
      text-align: left;
    }

    .text--gray {
      margin-top: 30px;
      color: #bbb;
    }

    .form-right {
      position: relative;

      h2.title {
        padding-bottom: 0;
        font-size: 35px;
        line-height: 40px;
      }

      .section {
        &-desc {
          color: #bbb;
          font-size: 22px;
          line-height: 25px;
        }

        &-label {
          margin-top: 70px;
          color: #bbb;
        }

        &-text {
          margin-top: 40px;
          font-size: 17px;
          line-height: 1.3;
        }
      }

      .v-text-field {
        font-size: 44px;
        line-height: 50px;
        margin-top: 40px;

        input {
          max-height: 50px;
        }
      }

      .wr-form__submit {
        display: inline-block;
      }

      .form__submit {
        margin: 0;
        margin-top: 30px;
        height: 60px;
      }
    }
  }

  .swiper__list-emploee {
    max-width: 550px;
    margin-top: 45px;

    .slide__item {
      text-align: center;
      margin: auto;
      position: relative;
      height: 110px;

      .transition {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }
}

/* Animation */
.dialog-transition {
  transition: 5s;

  &#{&} {
    &-leave-to,
    &-enter {
      transform: translateX(50px);
      opacity: 0;
    }
  }
}

</style>
