<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class Cn3bieAgreement extends Vue {}
</script>

<template>
  <div class="desc agreement">
    <span class="square"></span>Согласен(на) на обработку <br />перональных данных (<a href="/agreement/">соглашение</a>)
  </div>
</template>

<style lang="scss" scoped>
.desc.agreement {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 500;

  .square {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #000;
    border: 1px solid #000;
    margin-right: 8px;
    vertical-align: middle;
  }

  a {
    border-bottom: 1px dashed #000;
  }
}
</style>
