<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import Cn3bieViewerImages from '@/components/cn3bie/Cn3bieViewerImages.vue';
import {IViewer, IImg} from '@/models';

@Component({
  components: {
    Cn3bieViewerImages,
  },
})
export default class Cn3bieCarousel extends Vue {
  @Prop()
  images!: IImg[];
  @Prop()
  thumbnails!: boolean;

  viewer!: IViewer;

  swiper: any = null;
  swiperThumbnails: any = null;

  swiperOption: any = {
    noSwiping: true,
  };
  swiperOptionThumbnails: any = {
    slidesPerView: 4,
    spaceBetween: 20,
  };

  current: number = 1;
  totalCount: number = 1;

  get imgs(): string[] {
    return this.images.map((item: IImg) => item.imgFull);
  }

  get thumbs(): string[] {
    return this.images.map((item: IImg) => item.img);
  }

  constructor() {
    super();

    this.totalCount = this.images.length;
  }

  mounted() {
    this.swiper = (this.$refs.carousel as any).swiper;

    if (this.thumbnails && this.images.length > 1) {
      this.swiperThumbnails = (this.$refs.carouselThumbnails as any).swiper;
    }
  }

  updated() {
    this.totalCount = this.images.length;

    if (this.thumbnails && this.images.length > 1) {
      this.swiperThumbnails = (this.$refs.carouselThumbnails as any).swiper;
    }
  }

  moveTo(i: number = 1) {
    if (i > this.totalCount) {
      i = this.totalCount;
    }

    if (i < 1) {
      i = 1;
    }

    this.current = i;

    this.swiper.slideTo(i - 1);

    if (this.swiperThumbnails) {
      this.swiperThumbnails.slideTo(i - 1);
    }
  }

  next() {
    this.moveTo(this.current + 1);
  }

  prev() {
    this.moveTo(this.current - 1);
  }

  inited(viewer: IViewer) {
    this.viewer = viewer;
  }
}
</script>

<template>
  <div class="cn3bie-carousel">
    <cn3bie-viewer-images
      :inited="inited"
      :images="imgs"
    ></cn3bie-viewer-images>

    <div class="wr-carousel">
      <swiper
        class="swiper__list"
        ref="carousel"
        :options="swiperOption"
      >
        <swiper-slide
          v-for="(img, i) in imgs"
          :key="'iamges' + i"
        >
          <div
            class="swiper__item"
            @click="viewer.show(i)"
          >
            <v-img
              :aspect-ratio="16/9"
              :src="img"
              contain
              alt=""
            ></v-img>
          </div>
        </swiper-slide>
      </swiper>

      <v-layout
        class="wr-controls"
        justify-space-between
        align-center
        v-if="images.length > 1"
      >
        <v-flex class="btn prev" @click="prev()">
          <div class="ic prev ic-white"></div>
        </v-flex>

        <v-flex class="count">
          {{current}}/{{totalCount}}
        </v-flex>

        <v-flex class="btn next" @click="next()">
          <div class="ic next ic-white"></div>
        </v-flex>
      </v-layout>
    </div>


    <div class="wr-thumbnails"
      v-if="thumbs && thumbs.length > 1"
    >
      <swiper
        class="swiper__thumbnails"
        ref="carouselThumbnails"
        :options="swiperOptionThumbnails"
      >
        <swiper-slide
          class="swiper__thumbnails__item"
          v-bind:class="{
            active: current === (i + 1)
          }"
          v-for="(img, i) in thumbs"
          :key="'thumbnails' + i"
        >
          <v-img
            @click="moveTo(i + 1)"
            :aspect-ratio="16/9"
            :src="img"
            contain
            max-height="200"
          ></v-img>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<style lang="scss">
.cn3bie-carousel {
  .wr-carousel {
    position: relative;

    .swiper {
      &__item {
        cursor: pointer;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: rgba(0,0,0,0);
          z-index: 9;
          transition: .3s;
        }

        &:hover:before {
          background: rgba(0,0,0,.3);
        }
      }
    }

    .wr-controls {
      z-index: 9;
      background-color: #000;
      color: #fff;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 55px;

      .count {
        width: 50px;
        text-align: center;
      }

      .btn {
        cursor: pointer;
        width: 50px;
        text-align: center;
      }
    }
  }

  .wr-thumbnails {
    .swiper__thumbnails {
      margin-top: 20px;

      .swiper__thumbnails__item {
        cursor: pointer;
      }

      .active .v-responsive__content{
        transition: .3s;
        background-color: rgba(0, 0, 0, 0.65);
      }
    }
  }
}
</style>
