<script lang="ts">
import {Component, Prop, Emit, Vue} from 'vue-property-decorator';

@Component
export default class Cn3biePopupImage extends Vue {
  @Prop()
  label!: string;
  @Prop()
  height!: string | number;
  @Prop()
  outline!: boolean;
  @Prop()
  block!: boolean;

  dialog: boolean = false;
  notifications: boolean = false;
  sound: boolean = true;
  widgets: boolean = false;
}
</script>

<template>
  <v-dialog
    class="wr-dialog-youtube"
    v-bind:class="{ 'block': block }"
    v-model="dialog"
    transition="dialog-transition"
  >
    <v-btn
      v-bind:class="{ 'btn-transparent': outline }"
      :outline="!!outline"
      slot="activator"
      color="primary"
      block
      v-html="label"
    ></v-btn>

    <v-card class="cn3bie-popup">
      <v-btn class="btn-close" icon @click.native="dialog = false">
        <v-icon size="50">close</v-icon>
      </v-btn>

      <youtube video-id="pXRviuL6vMY" ref="youtube" @playing="playing"></youtube>
      <button @click="playVideo">play</button>

      <!-- <youtube-media :video-id="'pXRviuL6vMY'" :player-vars="{ 'autoplay': 1, 'controls': 0 }"></youtube-media> -->
    </v-card>
  </v-dialog>
</template>

<style lang="scss" scoped>
.wr-dialog-youtube {
  width: 300px;

  .v-btn {
    margin-top: 10px;
    height: 70px;
    padding: 0 50px;
  }

  &.block {
    width: 100%;

    .v-btn {
      padding: 0;
      height: 50px;
    }
  }
}

.cn3bie-popup {
  position: relative;

  .btn-close {
    z-index: 9999;
    position: absolute;
    top: 30px;
    right: 30px;
    width: auto;
    height: auto;
  }
}
/* Animation */
.dialog-transition {
  transition: 5s;

  &#{&} {
    &-leave-to,
    &-enter {
      transform: translateX(50px);
      opacity: 0;
    }
  }
}

</style>
