<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {IProject, TypeMaterial} from '@/models/projects.model';

@Component
export default class Cn3bieCharacteristicPlan extends Vue {
  @Prop()
  list!: [string, string];
}
</script>

<template>
  <div class="cn3bie-characteristic">
    <p class="cn3bie-characteristic__item"
      v-for="(item, i) in list"
      :key="'area-' + i"
    >
      <span class="text--gray">{{item[0]}}: </span><span>{{item[1]}} м<span class="pow">2</span></span>
    </p>
  </div>
</template>

<style lang="scss" scoped>
.cn3bie-characteristic {
  .cn3bie-characteristic__item {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;

    .pow {
      position: relative;
      top: -5px;
      font-size: .7em;
    }

    .lc {
      text-transform: lowercase;
    }

    .text--gray {
      color: #c0c0c0;
    }
  }
}
</style>
