<script lang="ts">
import {Component, Prop, Vue, Emit} from 'vue-property-decorator';

import Cn3bieCarousel from '@/components/cn3bie/Cn3bieCarousel.vue';

import {IPerson} from '@/models/personal.model';

@Component({
  components: {
    Cn3bieCarousel,
  },
})
export default class Cn3bieCarouselEmploee extends Vue {
  @Prop()
  count!: number;
  @Prop()
  height!: number;
  @Prop()
  desc!: boolean;
  @Prop()
  index!: number;

  swiper: any = null;
  swiperThumbnails: any = null;

  swiperOption: any = {
    simulateTouch: false,
    slidesPerView: this.count || 3,
    centeredSlides: this.count !== this.listEmploees.length,
    initialSlide: this.index !== 1 ? this.index : 1,
  };

  totalCount = 0;
  viewAll = this.count === this.listEmploees.length;

  get listEmploees() {
    return this.$store.state.emploees.managers;
  }

  constructor() {
    super();

    this.totalCount = this.listEmploees.length - 1;
  }

  mounted() {
    if (!this.swiper) {
      this.swiper = (this.$refs.carouselEmploee as any).swiper;
    }
  }

  updated() {
    this.swiper.slideTo(this.index, 1500);
  }

  @Emit()
  moveTo(i: number = 0): number {
    // console.log(i, this.totalCount);
    if (i > this.totalCount) {
      i = this.totalCount;
    }

    if (i < 0) {
      i = 0;
    }

    return i;
  }

  next() {
    this.moveTo(this.index + 1);
  }

  prev() {
    this.moveTo(this.index - 1);
  }

  handleClick(i: number) {
    this.moveTo(i);
  }
}
</script>

<template>
  <div class="wr-cn3bie-carousel">
    <div class="cn3bie-carousel-emploee">
      <div class="btn prev" @click="prev()" v-if="index !== 0">
        <v-btn icon>
          <div class="ic prev"></div>
        </v-btn>
      </div>

      <div class="wr-carousel">
        <swiper
          class="swiper__list"
          ref="carouselEmploee"
          :options="swiperOption"
        >
          <swiper-slide
            class="slide__item"
            v-for="(item, i) in listEmploees"
            :key="'emploee' + i"
          >
            <div
              v-bind:style="{
                height: (height || 110) + 'px',
                width: (height || 110) + 'px',
                margin: 'auto',
              }"
              @click="handleClick(i)"
            >
              <v-img
                :aspect-ratio="1"
                class="emploee-img"
                v-bind:class="{
                  'active': item === listEmploees[index]
                }"
                :src="item === listEmploees[index] ? item.imgCrop : item.imgCropBW"
                :alt="item.name"
              ></v-img>
            </div>
          </swiper-slide>
        </swiper>
      </div>

      <div class="btn next" @click="next()" v-if="index !== totalCount">
        <v-btn icon>
          <div class="ic next"></div>
        </v-btn>
      </div>
    </div>

    <div class="position text-xs-center"
      v-if="desc"
      v-html="listEmploees[index].position + ', ' + listEmploees[index].name"
    ></div>
  </div>
</template>

<style lang="scss">
.wr-cn3bie-carousel {
  .cn3bie-carousel-emploee {
    position: relative;

    .btn {
      position: absolute;
      top: 0;
      bottom: 0;
      cursor: pointer;
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      margin: auto;

      &.prev {
        left: -36px;
      }

      &.next {
        right: -36px;
      }

      .v-btn {
        height: 36px;
        width: 36px;
        margin: auto;
        border-radius: 50%;
      }

      .v-icon {
        color: #000;
        text-align: center;
      }
    }

    .wr-carousel {
      .swiper__list {
        .slide__item {
          text-align: center;
          margin: auto;
          position: relative;

          .emploee-img {
            background-color: #ddd;
            transform: scale(.5);
            border-radius: 50%;
            transition: 1s;
            cursor: pointer;

            &.active {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  .position {
    margin: 15px -15px 0;
  }
}
</style>
