<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {IProject, TypeMaterial} from '@/models/projects.model';

@Component
export default class Cn3bieCharacteristic extends Vue {
  @Prop()
  asLine!: boolean;
  @Prop()
  project!: IProject;

  get currentMatterial() {
    return this.$store.state.catalog.currentMatterial;
  }

  set currentMatterial(matterial: TypeMaterial) {
    // return this.$store.state.catalog.currentMatterial;
  }

  materials: TypeMaterial[] = [
    TypeMaterial.gaz,
    TypeMaterial.kirpich,
    TypeMaterial.keramzit,
    TypeMaterial.pen,
  ];
}
</script>

<template>
  <div class="cn3bie-characteristic">
    <p class="cn3bie-characteristic__item" v-if="project.address">
      <span class="text--gray">Адрес: </span><span>{{project.address}}</span>
    </p>
    <p class="cn3bie-characteristic__item">
      <span class="text--gray">Общая площадь: </span><span>{{project.area}} м<span class="pow">2</span></span>
    </p>
    <p class="cn3bie-characteristic__item" v-if="asLine">
      <span class="text--gray">Спален: </span><span>{{project.countBedroom}}</span>
    </p>
    <p class="cn3bie-characteristic__item" v-if="asLine">
      <span class="text--gray">Этажей: </span><span>{{project.countFloor}}</span>
    </p>
    <p class="cn3bie-characteristic__item">
      <span class="text--gray">Материал стен: </span>
      <span
        v-for="(material, i) in materials"
        class="lc text--gray"
        :key="i"
        :class="{
          'text--black': material === currentMatterial
        }"
      >
        {{material | TypeName}}{{i === materials.length-1 ? '': ','}}
      </span>
    </p>
    <p class="cn3bie-characteristic__item" v-if="!project.address && !asLine">
      <span class="text--gray">Спален: </span><span>{{project.countBedroom}}</span>
    </p>
    <p class="cn3bie-characteristic__item" v-if="!project.address && !asLine">
      <span class="text--gray">Этажей: </span><span>{{project.countFloor}}</span>
    </p>
  </div>
</template>

<style lang="scss" scoped>
.cn3bie-characteristic {
  .cn3bie-characteristic__item {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;

    .pow {
      position: relative;
      top: -5px;
      font-size: .7em;
    }

    .lc {
      text-transform: lowercase;
    }

    .text--gray {
      color: #c0c0c0;
    }
    .text--black {
      color: #000;
      position: relative;
      display: inline-block;

      &:before {
        content: '';
        width: 100%;
        left: 0;
        right: 0;
        height: 46%;
        top: 33%;
        position: absolute;
        background-color: rgba(0,0,0, 0);
        box-shadow: 0 0 0 rgba(0,0,0, .4);
        animation: pulse 2s 1;
        border-radius: 10px;
      }
    }

  }
}

// .pulse {
//   margin:100px;
//   display: block;
//   width: 22px;
//   height: 22px;
//   border-radius: 50%;
//   background: #cca92c;
//   box-shadow: 0 0 0 rgba(0,0,0, 0.4);
//   animation: pulse 2s 1;
// }

// .pulse:hover {
//   animation: none;
// }

@keyframes pulse {
  0% {
    background-color:rgba(0,0,0, .4);
    box-shadow: 0 0 0 0 rgba(0,0,0, .4);
  }
  70% {
    background-color:px rgba(0,0,0, 0);
    box-shadow: 0 0 0 10px rgba(0,0,0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
</style>
