<script lang="ts">
import {Component, Prop, Emit, Vue} from 'vue-property-decorator';

@Component
export default class Cn3biePreloader extends Vue {
}
</script>

<template>
<div class="wr-bg">
  <div class="bg">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 670 236">
      <path class="path" d="M17.5,94.5v44.8h5.1V94.5H17.5z"/>
      <path class="path" d="M65.1,134.7V94.5H60v44.8h30.3v-4.7H65.1z"/>
      <path class="path" d="M147.2,121c3.7-0.7,6.6-2.1,8.8-4.3c2.2-2.2,3.3-5.1,3.3-8.7c0-3.7-1.2-6.7-3.5-9c-3-3-7.2-4.5-12.7-4.5 h-19.3v44.8h5.1v-17.4h12.8l13,17.4h6.2L147.2,121z M129,117.4V99.2h13.8c3.6,0,6.4,0.8,8.4,2.3c2,1.6,3,3.7,3,6.5 c0,2.9-1.1,5.2-3.2,6.8c-2.1,1.7-4.9,2.5-8.3,2.5H129z"/>
      <path class="path" d="M226,94.5v26c0,4.8-1.2,8.5-3.6,11c-1.9,2.1-4.5,3.3-7.7,3.6v4.7c4.6-0.4,8.4-2.1,11.3-5 c3.4-3.4,5.1-8.3,5.1-14.7V94.5H226z M202.4,131.4c-2.4-2.6-3.6-6.3-3.6-11.2V94.5h-5.1v26c0,6.2,1.7,11,5.1,14.4 c2.9,2.9,6.7,4.6,11.3,5v-4.7C206.9,134.8,204.4,133.5,202.4,131.4z"/>
      <path class="path" d="M294.5,119.1c-2.3-2-6-3.5-11.1-4.6c-4.7-1-7.9-2.2-9.6-3.5c-1.7-1.3-2.5-3-2.5-5.2c0-2.1,0.9-3.9,2.6-5.3 c1.7-1.4,4-2.1,6.9-2.1c4.6,0,9,1.6,12.9,4.9l2.9-3.9c-4.6-3.7-9.8-5.5-15.7-5.5c-4.3,0-7.8,1.2-10.6,3.5c-2.8,2.3-4.2,5.2-4.2,8.8 c0,3.6,1.2,6.4,3.5,8.4c2.3,2,6.2,3.5,11.5,4.7c4.5,0.9,7.6,2,9.2,3.3c1.6,1.3,2.4,3,2.4,5.2c0,2.3-0.9,4.2-2.8,5.6 c-1.8,1.4-4.2,2.1-7.2,2.1c-3,0-5.7-0.5-8.2-1.5c-2.4-1-4.8-2.6-7.2-4.8l-3.1,3.7c5.3,4.8,11.4,7.2,18.3,7.2c4.5,0,8.1-1.2,11-3.5 c2.9-2.3,4.3-5.4,4.3-9.2C298,123.8,296.8,121.1,294.5,119.1z"/>
      <path class="path" d="M359.7,119.1c-2.3-2-6-3.5-11.1-4.6c-4.7-1-7.9-2.2-9.6-3.5c-1.7-1.3-2.5-3-2.5-5.2c0-2.1,0.9-3.9,2.6-5.3 c1.7-1.4,4.1-2.1,6.9-2.1c4.6,0,9,1.6,12.9,4.9l2.9-3.9c-4.6-3.7-9.8-5.5-15.7-5.5c-4.3,0-7.8,1.2-10.6,3.5 c-2.8,2.3-4.2,5.2-4.2,8.8c0,3.6,1.2,6.4,3.5,8.4c2.3,2,6.2,3.5,11.5,4.7c4.5,0.9,7.6,2,9.2,3.3c1.6,1.3,2.4,3,2.4,5.2 c0,2.3-0.9,4.2-2.8,5.6c-1.8,1.4-4.2,2.1-7.2,2.1c-3,0-5.7-0.5-8.2-1.5c-2.4-1-4.8-2.6-7.2-4.8l-3.1,3.7c5.3,4.8,11.4,7.2,18.3,7.2 c4.5,0,8.1-1.2,11-3.5c2.9-2.3,4.3-5.4,4.3-9.2C363.2,123.8,362,121.1,359.7,119.1z"/>
      <path class="path" d="M394.6,94.5v4.7h15v40.1h5.1V99.2h15v-4.7C429.8,94.5,394.6,94.5,394.6,94.5z"/>
      <path class="path" d="M486.9,121c3.7-0.7,6.6-2.1,8.8-4.3c2.2-2.2,3.3-5.1,3.3-8.7c0-3.7-1.2-6.7-3.5-9c-3-3-7.2-4.5-12.7-4.5 h-19.3v44.8h5.1v-17.4h12.8l13,17.4h6.2L486.9,121z M468.6,117.4V99.2h13.8c3.6,0,6.4,0.8,8.4,2.3c2,1.6,3,3.7,3,6.5 c0,2.9-1.1,5.2-3.2,6.8s-4.9,2.5-8.3,2.5H468.6z"/>
      <path class="path" d="M542.3,103.8c2.8-3,6.2-4.8,10.3-5.2v-4.7c-5.6,0.5-10.3,2.7-14,6.7c-3.9,4.2-6.1,9.1-6.4,14.7 c0,0.5,0,1.1,0,1.6c0,1,0.1,2.1,0.2,3.1c0.6,5.1,2.7,9.5,6.2,13.3c3.8,4,8.5,6.2,14.1,6.7v-4.7c-4-0.5-7.4-2.2-10.2-5.2 c-2.7-2.8-4.3-6.2-4.8-10c-0.1-1-0.2-2-0.2-3.1c0-0.5,0-1.1,0.1-1.6C537.7,110.8,539.4,107,542.3,103.8z M577.8,115.3 c-0.3-5.7-2.4-10.6-6.4-14.8c-3.8-4-8.5-6.2-14.1-6.7v4.7c4,0.5,7.4,2.2,10.2,5.2c3,3.2,4.6,7,5,11.5c0,0.5,0.1,1.1,0.1,1.6 c0,1.1-0.1,2.1-0.2,3.1c-0.5,3.9-2.1,7.2-4.8,10.1c-2.8,3-6.2,4.8-10.3,5.2v4.7c5.6-0.5,10.3-2.7,14-6.7c3.6-3.8,5.7-8.2,6.3-13.3 c0.1-1,0.2-2,0.2-3.1C577.8,116.4,577.8,115.9,577.8,115.3z"/>
      <path class="path" d="M644.7,94.5l-15.2,22.4l-15.1-22.4h-6.1l18.6,27.1v17.7h5.1v-17.8l18.6-27 C650.5,94.5,644.7,94.5,644.7,94.5z"/>
    </svg>
  </div>
</div>
</template>

<style lang="scss" scoped>
@keyframes draw {
  0% {
    fill: rgba(0, 0, 0, 0);
    stroke-dashoffset: 800;
  }
  90% {
    fill: rgba(0, 0, 0, 0);
  }
  100% {
    stroke-dashoffset: 580;
    fill: rgba(0, 0, 0, 1);
  }
}

.wr-bg {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99999;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 50%;
    max-height: 20%;
    vertical-align: middle;
    text-align: center;
  }

  .path {
    animation: draw ease-in-out 4s 1;
    stroke: #000;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 800;
    stroke-dashoffset: 0;
    fill: rgba(0, 0, 0, 1);
  }
}
</style>
