<script lang="ts">
import {Component, Vue, Prop, Emit} from 'vue-property-decorator';

import Cn3bieTextInput from '@/components/cn3bie/form/Cn3bieTextInput.vue';
import Cn3bieCheckboxInput from '@/components/cn3bie/form/Cn3bieCheckboxInput.vue';

import {
  TypeInput,
  ICn3bieSlider,
  IParam,
  IInputBox,
  IBox,
  IQueryFilter,
  TypeTarget,
  IResponsFilterItem,
 } from '@/models/projects.model';


@Component({
  components: {
    Cn3bieTextInput,
    Cn3bieCheckboxInput,
  },
})
export default class Cn3bieFilterItem extends Vue {
  @Prop()
  title!: string;
  @Prop()
  name!: string;
  @Prop()
  slider!: ICn3bieSlider;
  @Prop()
  box!: IBox;

  @Emit('change')
  changeFilter(): IResponsFilterItem {
    const params: IParam[] = [];

    if (this.slider) {
      params.push({
        name: this.name + '-min',
        value: this.slider.range[0],
      });
      params.push({
        name: this.name + '-max',
        value: this.slider.range[1],
      });
    }

    if (this.box) {
      this.box.list.forEach((item: IInputBox) => {
        if (item.checked) {
          params.push({
            name: this.name,
            value: item.value,
            type: this.box.type
          });
        }
      });
    }

    return {
      query: {
        params,
        name: this.name,
      },
      event,
      target: {
        el: this.$refs.filterItem as Element,
        type: this.box ? TypeTarget.box : TypeTarget.slider,
      },
    };
  }

  changeBox(value: boolean, item: IInputBox) {
    if (this.box.type === TypeInput.radio) {
      this.box.list.forEach((input: IInputBox) => input.checked = false);
    }

    item.checked = value;

    this.changeFilter();
  }
}
</script>

<template>
  <div class="filter__item" ref="filterItem">
    <div class="name">{{title}}</div>

    <div class="wr-slider" v-if="slider">
      <v-layout justify-space-between>
        <v-flex sm6>
          <cn3bie-text-input
            @change="changeFilter()"
            class="slider__text left"
            label="от"
            v-model.number="slider.range[0]"
          >
            <span v-html="slider.label"></span>
          </cn3bie-text-input>
        </v-flex>

        <v-flex sm6>
          <cn3bie-text-input
            @change="changeFilter()"
            class="slider__text right"
            label="до"
            v-model.number="slider.range[1]"
          >
            <span v-html="slider.label"></span>
          </cn3bie-text-input>
        </v-flex>
      </v-layout>

      <v-range-slider
        @change="changeFilter()"
        v-model="slider.range"
        :min="slider.min"
        :max="slider.max"
      ></v-range-slider>
    </div>

    <div  class="wr-checkbox"
      v-if="box && box.list && box.list.length"
    >
      <cn3bie-checkbox-input
        v-for="(item, i) in box.list"
        :key="i"
        v-model="item.value"
        :label="item.label"
        :name="name"
        required
        :type="box.type || TypeInput.radio"
        :is-checked="item.checked"
        @change="changeBox($event, item)"
      ></cn3bie-checkbox-input>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.filter__item {
  .name {
    padding: 15px 20px;
    font-size: 19px;
    line-height: 22px;
    position: relative;
    font-weight: 500;

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      left: 0;
      height: 20px;
      margin: auto;
      border-left: 2px solid #000;
    }
  }

  .wr-slider {
    padding: 0 20px;

    .slider__text {
      max-width: 125px;
      text-align: center;
    }
  }

  .wr-checkbox {
    padding: 0 0 0 20px;
    margin: 0;
  }
}
</style>
