<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {ActionType} from '@/store';
import Cn3biePopup from '@/components/cn3bie/Cn3biePopup.vue';

import {
  IPlan,
} from '@/models/projects.model';
import {IPerson} from '@/models/personal.model';
import listPerson from '@/assets/data/listPerson';

@Component({
  components: {
    Cn3biePopup,
  },
})
export default class Cn3bieReclama extends Vue {
  get listEmploees() {
    return this.$store.state.emploees.managers;
  }

  get activeEmploee(): IPerson {
    return this.$store.state.emploees.active;
  }

  set activeEmploee(pers: IPerson) {
    this.$store.commit(ActionType.ChangePerson, pers);
  }

  get indexActiveEmploee(): number {
    return this.$store.state.emploees.index;
  }

  set indexActiveEmploee(index: number) {
    this.activeEmploee = this.listEmploees[index];
  }
}
</script>

<template>
  <v-layout class="wr-reclama" column justify-space-between>
    <v-flex>
      <div class="title">Вопрос с выбором проекта?</div>
      <div class="desc">Спросите эксперта и он <br />подберет вам проекты, <br />которые подойдут <br />для Вашего участка</div>
    </v-flex>

    <v-flex class="wr-btn">
      <div class="wr-wr-wr">
        <cn3bie-popup
          block="block"
          label="Спросить эксперта"
          :index="indexActiveEmploee"
        ></cn3bie-popup>
      </div>
    </v-flex>
  </v-layout>
</template>

<style lang="scss" scoped>
.wr-reclama {
  margin-top: 30px;
  height: 400px;
  padding: 40px 30px 30px;
  background: #fff url('../../assets/emploee/D03I8578.png') bottom right no-repeat;
  background-size: 152%;
  background-position: 55px -2px;

  .title {
    text-align: left;
    font-size: 22px !important;
    line-height: 23px !important;
    font-weight: 500 !important;
  }

  .desc {
    margin-top: 30px;
    font-size: 14px;
    line-height: 15px;
  }

  .wr-btn {
    position: relative;

    .wr-wr-wr {
      position: absolute;
      bottom: 0;
      margin: 0;
      left: 0;
      right: 0;
    }
  }
}
</style>
