<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class Cn3bieGridLine extends Vue {
  @Prop()
  active!: boolean;

  line = false;
}
</script>

<template>
  <div class="wr-box" :class="{active: active}">
    <span class="box first"></span>
    <span class="box center"></span>
    <span class="box last"></span>
  </div>
</template>

<style lang="scss" scoped>
$width: 5px;

.wr-box {
  cursor: pointer;
  height: $width*3 + $width*2;
  width: $width*3 + $width*2;
  position: relative;
  transition: .3s;

  .box {
    &,
    &:before,
    &:after {
      display: block;
      background-color: #000;
      width: $width;
      height: $width;
      position: absolute;
      transition: .3s;
    }

    &:before,
    &:after {
      content: '';
    }
  }

  .first,
  .center,
  .last {
    &,
    &:before,
    &:after {
      top: 0;
    }
  }

  .first,
  .center,
  .last {
    left: $width*2;

    &:before {
      left: -$width*2;
    }

    &:after {
      right: -$width*2;
    }
  }

  .center {
    top: $width*2;
  }

  .last {
    top: $width*4;
  }

  &.active {
    .first,
    .center,
    .last {

      &:before {
        width: $width*2;
      }

      &:after {
        width: $width*2;
      }
    }
  }
}
</style>
