<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {IViewer} from '@/models';


@Component
export default class Cn3bieViewerImages extends Vue {
  @Prop()
  images!: string[];
  @Prop()
  inited!: (viewer: IViewer) => void;

  $viewer: any = null;
  options = {
    inline: false,
    button: true,
    navbar: false,
    title: false,
    toolbar: true,
    tooltip: true,
    movable: true,
    zoomable: true,
    rotatable: false,
    scalable: false,
    transition: true,
    fullscreen: true,
    keyboard: true,
  };

  show = false;

  prev() {
    this.$viewer.prev();
  }

  next() {
    this.$viewer.next();
  }

  created() {
    this.inited({
      show: (i: number) => {
        if (this.$viewer) {
          this.show = true;
          this.$viewer.show();
          this.$viewer.view(i);
        }
      },
    });
  }

  _inited(viewer: any) {
    this.$viewer = viewer;
  }
}
</script>

<template>
  <viewer
    v-if="images.length"
    class="viewer"
    :options="options"
    :images="images"
    @inited="_inited"
    ref="viewer"
  >
    <img
      class="image"
      style="display:none"
      v-for="src in images"
      :key="src"
      :src="src"
      alt=""
    />
  </viewer>
</template>

<style lang="scss">
.viewer-footer {
  top: 0;

  .viewer-zoom-in,
  .viewer-zoom-out,
  .viewer-one-to-one,
  .viewer-reset,
  .viewer-play {
    display: none;
  }

  .viewer {
    &-prev,
    &-next {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 60px;
      border-radius: 0;
      height: auto;
      background: rgba(0,0,0,.21);
      margin: 0;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        margin: 0;
      }
    }

    &-prev,
    &-next {
      &:before,
      &:after {
        width: 30px;
        height: 4px;
        border-radius: 0;
        background-color: #fff;
        top: 50%;
      }
    }

    &-prev {
      left: 0;

      &:before,
      &:after {
        left: 30%;
        transform-origin: left center;
        margin-left: 0;
      }

      &:before {
        transform: rotate(45deg) translate(-1px);
      }
      &:after {
        transform: rotate(-45deg) translate(-1px);
      }
    }

    &-next {
      right: 0;

      &:before,
      &:after {
        right: 30%;
        transform-origin: right center;
        margin-right: 0;
      }

      &:before {
        transform: rotate(45deg) translate(1px);
      }

      &:after {
        transform: rotate(-45deg) translate(1px);
      }
    }
  }
}
</style>
