<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import SectionFirstScreen from '@/components/section/FirstScreen.vue';
import SectionPopular from '@/components/section/Popular.vue';
import FormMore from '@/components/form/More.vue';
import SectionTalkAbout from '@/components/section/TalkAbout.vue';
import SectionUsefulArticles from '@/components/section/UsefulArticles.vue';
import SectionMaps from '@/components/section/Maps.vue';

@Component({
  components: {
    SectionFirstScreen,
    SectionPopular,
    FormMore,
    SectionTalkAbout,
    SectionUsefulArticles,
    SectionMaps,
  },
})
export default class Home extends Vue { }
</script>

<template>
  <article class="page home">
    <section-first-screen></section-first-screen>

    <section-popular></section-popular>

    <form-more></form-more>

    <section-talk-about></section-talk-about>

    <section-useful-articles></section-useful-articles>

    <section-maps></section-maps>
  </article>
</template>
