<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import Cn3biePreloader from '@/components/cn3bie/Cn3biePreloader.vue';

import HeaderMain from '@/components/HeaderMain.vue';
import FooterMain from '@/components/FooterMain.vue';

@Component({
  components: {
    Cn3biePreloader,
    HeaderMain,
    FooterMain,
  },
})
export default class App extends Vue {
  preloader = true;

  mounted() {
    this.$store.dispatch('loadRoot');

    setTimeout(() => {
      this.preloader = false;
    }, 4000);
  }

}
</script>

<template>
  <v-app>
    <transition name="fade">
      <cn3bie-preloader v-show="preloader"></cn3bie-preloader>
    </transition>

    <header-main></header-main >
    <router-view></router-view>
    <footer-main></footer-main>
  </v-app>
</template>

<style lang="scss">
.application {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.w100p {
  width: 100%;
}

.btn-transparent {
  background: transparent !important;

  &:before {
    background: transparent !important;
  }

  &:hover {
    background: #fff !important;

    &:before {
      background: #fff !important;
    }
  }
}

.container {
  max-width: 1333px !important;
  font-size: 17px;
  line-height: 16px;
  line-height: 1.3;
  font-weight: 400;

  .v-badge__badge {
    height: 22px;
    width: 22px;
    background-color: #000 !important;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
  }

  .v-btn {
    border-radius: 0;
    height: 50px;
    transition: .3s;

    &:hover {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35), 0 3px 15px 0 rgba(0, 0, 0, .35);
    }

    &.primary {
      &:hover {
        box-shadow: 0 10px 40px 0 rgba(45, 45, 52, .5)
      }
    }

    &,
    .v-btn__content {
      text-transform: none;
      font-size: 16px;
      font-weight: 300 !important;
      border-radius: 0;
    }
  }


  .v-card {
    border-radius: 0;
  }

  .title {
    text-align: center;
    font-family: Gilroy !important;
    font-style: normal !important;
    font-weight: 400 !important;
  }

  h1.title {
    font-size: 58.33px !important;
    line-height: 64px !important;
    margin-bottom: 10px;
  }

  h2.title {
    font-size: 45.83px !important;
    line-height: 54px !important;
    margin-bottom: 10px;
  }

  h3.title {
    font-size: 35px !important;
    line-height: 40px !important;
    margin-bottom: 32px;
  }

  .section-desc {
    text-align: center;
    color: #5f5f5f;
    font-size: 16px;
  }

  .price {
    display: inline-flex;
    padding: 0;

    .v-icon {
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .v-tabs__wrapper {
    .v-tabs__item {
      text-transform: none;
      font-size: 19px;
      line-height: 21px;
    }
  }
}

.theme--light.application {
  background-color: #fff;
}
</style>
