<script src="./catalog-card.component.ts" lang="ts"></script>

<template>
  <article class="page article-project__card">
    <section-main-info
      :address="settings.address"
      :images="images"
      :project="project"
      :bookmark="project.metadata.bookmark"
      :is-project="true"
    ></section-main-info>

    <div class="other-section">
      <v-container>
        <section-plans v-if="plans.length" :list="plans" :additionals="additionals"></section-plans>

        <section-fasad v-if="fasads.length" :list="fasads"></section-fasad>

        <section class="section section-selected-material">
          <h2 class="title text-xs-left">Выберите материал стен</h2>

          <v-tabs class="wr-list-tabs"  v-model="currentMatterial">
            <v-tab
              v-for="(item, key) in listTypeMaterial"
              :key="key"
              :href="`#${key}`"
            >
              {{item | TypeName}}
            </v-tab>
          </v-tabs>
        </section>

        <section-type-construction
          :complect="listTypeConstruction"
          :price="project.price"
        ></section-type-construction>

        <section-photootchet
          v-if="listPhotootchets.length"
          :list="listPhotootchets"
        ></section-photootchet>

      </v-container>
    </div>

    <section-talk-about></section-talk-about>

    <section-other-projects></section-other-projects>

    <section-maps></section-maps>
  </article>
</template>

<style lang="scss" scoped>
.article-project__card {
  .other-section {
    background-color: #f6f6f6;

    .section {
      background-color: #fff;
      padding: 65px 75px;
      margin-top: 50px;

      .title {
        padding-bottom: 35px;
        font-weight: 400 !important;
      }
    }

    .wr-list-tabs {
      .v-tabs__bar .v-tabs__div {
        margin-right: 50px;
      }
    }

    .section-selected-material {
      background-color: #fff;
    }
  }
}
</style>
