
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import SectionServices from '@/components/section/Services.vue';
import SectionMaps from '@/components/section/Maps.vue';

@Component({
  components: {
    SectionServices,
    SectionMaps,
  },
})
export default class Services extends Vue { }
</script>

<template>
  <article class="page services">
    <section-services></section-services>

    <section-maps></section-maps>
  </article>
</template>
